.home{
  width: 100% !important;
  margin: auto;
}

.slider{
  width: 95%;
  height: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* background-color: bisque; */
  position: relative ;
  overflow: hidden;
}

.slide{
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 1s;
  padding: 5px;
    /* border-radius: 1.5rem; */

}

.slider img{
  flex: 1 0 100%;
  object-fit: cover;
}
.slider .slider-button{
  display: flex;
  justify-content: center;
  align-items: end ;
  gap: 10px;
  /* text-align: center; */
  /* margin-bottom: 10px; */
  z-index: 1;
  position: absolute;
  width: 98%; 
  height: 600px;
  margin-left: 10px;
  /* margin-right: 10px; */
  /* transform: translateX(-50%); */
}

.slider-button button{
  font-size: 25px;
  background: none;
  border: none;
  outline: none !important;
  color: white;
    
}
.slider-button i{
  font-size: 900;
    
}
.slider-button i:hover{
  color: black;
}
/* lengthimg start here  */
.lengthimg{

  width: 100%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
} 

/* info-box  */

.info{
  display: flex;
  justify-content:space-around;
  margin-top: 10px;
}
.info .box1{
  height: 300px;
  width: 300px;
  background-color: antiquewhite;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.info h5{
  font-weight: 400;
  font-size: 30px;
}
.info p{
  font-weight: 400;
  font-size:15px;
}
.info .card-img{
  cursor: pointer;
}
.info img {
  transition: transform 0.2s ease-in-out;
}
.info  img:hover{
  transform: scale(1.02);
}
.info a{
  color:rgb(23, 51, 79);
}
.info .box1:hover{
  transform: scale(1.1);
}

/* vendor services ---------------------------------- */

.services-container{
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.venderpage .container{
  max-width: 1200px;
  margin: 0 auto;
  padding:  1.5rem;
}
.venderpage .container .title{
  font-size: 3.5rem;
  color: #444;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
.venderpage .container .txt{
  font-size: 3.5rem;
  color: #444;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
  background-color:	rgb(23, 51, 79);
  display: inline-block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  margin: 0;
}
.venderpage .container .txt:hover{
  background-color: #fff;
  color: #222f3d;
  border: 1px solid  #222f3d;
  transform: scale(1);
  transition: all .3s ease-in-out ;
}
.venderpage .container .title:hover{
  color: #222f3d;
}

.venderpage .container .services-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 4fr));
  gap: 2.3rem;
}

.venderpage .container .services-container a{
  /* text-decoration: none; */
  color: rgb(23, 51, 79); 


}

.venderpage .container .services-container .servive{
  text-align: center;
  padding: 3rem 2rem;
  background-color: #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.6);
  outline: .1rem solid #ccc;
  outline-offset: -1rem;
  cursor: pointer;
    
}

.venderpage .container .services-container .servive .cater-email{
  color:#444;
  margin-bottom: 5px;
  font-weight: 400;

}
.venderpage .container .services-container .servive #company-name{
  color: #222;
  font-size: 25px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 0;
}
.venderpage .container .services-container .servive img{
    height: 8rem;
}

.venderpage .container .services-container .servive img:hover{
  transform: scale(.9);
  transition: all .2s linear ;

}
.venderpage .container .services-container .servive:hover{
  outline: .2rem solid #222;
  outline-offset: 0;
  transition: all .2s linear ;
}
.venderpage .container .services-container .servive h5
{
  /* font-size: rem; */
  color: #444;
  /* margin-top: 10px; */
  margin: 0;
}

.venderpage .container .services-container .servive #name{
  padding: .5rem 0;
}
.venderpage .container .services-container .servive #price{
  margin-top: 10px;
  padding: none !important;
}

.venderpage .container .services-container .servive p{
  margin: 0 ;
}
.venderpage .container .services-container .servive h3:hover{
  color: #222;
}

.venderpage .container .services-container .servive .phoneno{
  font-size: 1rem;
  color: #444;
}

/* contact form --------------------------------- */
.contact{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.contact-side a{
  text-decoration: none !important;
  font-size: 2.5rem;
  font-weight: 700;
  color:rgb(23, 51, 79);
}
.contact-side a:hover{
  color:rgb(23, 51, 79);

}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color:rgb(23, 51, 79);
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color:rgb(23, 51, 79);
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="submit"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background:rgb(23, 51, 79);
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background:rgb(7, 56, 75);
}
@media (max-width: 950px) {
.container{
  width: 90%;
  padding: 30px 40px 40px 35px ;
}
.container .content .right-side{
 width: 75%;
 margin-left: 55px;
}
}
@media (max-width: 820px) {
.container{
  margin: 40px 0;
  height: 100%;
}
.container .content{
  flex-direction: column-reverse;
}
.container .content .left-side{
  width: 100%;
  flex-direction: row;
  margin-top: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.container .content .left-side::before{
  display: none;
}
.container .content .right-side{
  width: 100%;
  margin-left: 0;
}
}
/* footer begins --------------------------------------- */
.foot-panal1{
  height: 50px;
  display: flex;
  justify-content:center;
  align-items: center;
  color: white;
  background-color:	rgb(23, 51, 79);
}
.foot-panal2{
  background-color:  #222f3d;
  color: white;
  height: 200px;
  display: flex;
  justify-content:center;

}
ul{
  margin-top: 20px;
}
ul  a{
  display: block;
  font-size: 0.8rem;
  margin-top: 10px;
  color: #DDDDDD;
}

.foot-panal3{
  height: 70px;
  background-color: #222f3d;
  border-top: 0.1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot-logo{
  background-image: url('images/Amazon-800x450-1.jpg');
  background-size: cover;
  height: 50px;
  width: 100px;

}
.add-icon1{
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
    
}
.add-second1{
  margin-left: 5px;
}

.border1{
  margin-left: 10px;
}
.foot-panal4{
  height: 80px;
  background-color: #0F1111;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
    }
.pages a{
  color: white;
  text-decoration: none;
}
.pages{
  margin-top: 20px;
}


/* wedding couples -------------------------------------------------------------- */
.sub-heading{
  color: rgb(23, 51, 79);
  font-size: large;
  font-weight: 500;
}

/* venuelist page -------------------------------------------------------------- */
body{margin-top:20px;
  background:#eee;
  }
  .card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  }
  .avatar.sm {
    width: 2.25rem;
    height: 2.25rem;
    font-size: .818125rem;
  }
  .table-nowrap .table td, .table-nowrap .table th {
    white-space: nowrap;
  }
  .table>:not(caption)>*>* {
    padding: 0.75rem 1.25rem;
    border-bottom-width: 1px;
  }
  table th {
    font-weight: 600;
    background-color: rgb(23, 51, 79)!important;
    color: white;
  }


/* venueall ---------------------------------------------------------------------------------- */
.venue-name .venue-btn{
  border: 1px solid rgb(23, 51, 79);
  background-color: white;
}
.venue-name a{
  width: 100%;
  text-decoration: none !important;
  padding: 3px 10px;
  border-radius: 5px;
  color:  rgb(23, 51, 79);
  border: 1px solid  rgb(23, 51, 79);
}
.venue-name a:hover{
  background-color: rgb(23, 51, 79);
  color: white;
  /* transform: scale(1.1); */
  transition: transform 0.2s ease-in-out;

}

#search_error{
  color: red;
  margin-top: 5px;
  text-align: center;
}

.venue .venue_col{
  cursor: pointer;
  outline-offset: -1rem;
  outline: .1rem solid #ccc;
}
.venue .venue_col:hover{

  outline: .1rem solid #222;
  outline-offset: 0;
  transition: all .2s linear ;

}
.venue img{
  height: 250px;
  width:100%;
  transition: transform 0.2s ease-in-out;
}
.venue img:hover{
  transform: scale(1.02);


}
/* bTn--------------------------------------------------------------- */

#payment a{
  text-decoration: none !important;
}
#viewevent a{
  text-decoration: none !important;

}
.bTn{
  /* background-color: #0F1111; */
  padding: 10px;
  font-size: 15px;
  border: 1px solid rgb(23, 51, 79);
  color:rgb(23, 51, 79);
  border-radius: 8px;
}
.bTn:hover{
  color: #fff;
  background-color: rgb(23, 51, 79);
}
.BOrder{
  border: 1px solid rgb(23, 51, 79);
  border-radius: 8px;


}

#addAmenitiesInfo {
  display: none;
}