{% extends 'acc/base.html'%}
{% block content%}

<div class="container ">
    <div class="row">
        
        <div class="col-lg-12 mx-auto">
            <div class="card rounded shadow border-0">
                <div class="card-body rounded">
              <h3 class="m-3">Booking Lists</h3>
            <div class="table-responsive">
              <table id="example" style="width:100%" class="table  table-bordered">
                <thead>
                  <tr>
                    <th class="text-light">Sl.no</th>
                    <!-- <th class="text-light">Groomname</th> -->
                    <th class="text-light">Client Name</th>
                    <th class="text-light">Phone Number</th>
                    <th class="text-light">Wedding Date</th>
                    <th class="text-light">Groom Name</th>
                    <!-- <th>Update</th> -->
                    <th class="text-light">Bride Name</th>
                    <!-- <th class="text-light">Balance</th> -->
                    <!-- <th class="text-light">Status</th> -->
                    <th class="text-light">Details</th>
                    <th class="text-light">Payment</th>
                  </tr>
                </thead>
                <tbody>
                {% for couplesdetail in couplesdetails %}
                
                <tr>
                    <td class="text-color">{{forloop.counter}}</td>
                    <td class=" text-color">{{ couplesdetail.enquiry.name }}</td>
                    <td class=" text-color">{{ couplesdetail.enquiry.phone_number }}</td>
                    <!-- <td class="text-color">{{ couplesdetail.bridename }}</td> -->
                    <td>
                        <ul>
                            {% for date in couplesdetail.enquiry.dates.all %}
                            <li class="text-color list-unstyled m-0">{{ date }}</li>
                            {% endfor %}
                        </ul>
                    </td>

                    <td class="text-color">{{couplesdetail.groomname}}</td>
                    <td class="text-color">{{couplesdetail.bridename}}</td>

                    <td><a class="text- link-offset-3 link-underline-opacity-25" href="{% url 'Booking_details' couplesdetail.id%}">Details</a></td>
                    <td>
                      {% if couplesdetail.enquiry.invoice_set.exists %}
                          <!-- <span class="text-color">{{ couplesdetail.enquiry.invoice_set.first.invoice_number }}</span> -->
                          <span class="text-color">Invoice exists</span>
                      {% else %}
                          <a class="text-link-offset-3 link-underline-opacity-25" href="{% url 'venue_payment' couplesdetail.venue.id %}">Make Payment</a>
                      {% endif %}
                  </td>


                   
                    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Launch demo modal
                    </button> -->
                    
                   

                    <!-- Modal ends -->

                    
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
{%  endblock %}