{% extends 'acc/base.html' %}

{% load static %}

{% block content %}
<div class="container">

<section id="header" class="jumbotron text-center p-4">
        
    <div class="text-center mt-5 d-flex justify-content-center">
    <h1 class="display-3 text-uppercase">Couples Details</h1>
    </div>
    {% for v in venue%}
    <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover display-3" href="{% url 'user_venues'%}"><p class="lead m-0 text-color">{{v.name}}.</p></a>
    <!-- <a class="small" href="#">{{v.name|linebreaks}}</a> -->
    {%endfor%}

    
    <!-- <div class="row">
  <div class="col-12 mt-3 mb-1">
    <h4 class="text-uppercase">Minimal Statistics Cards</h4>
    <p>Statistics on minimal cards.</p>
  </div>
</div> -->

    
    <!-- <p class="lead"> <b> "Complete your venue profile!"</b> The more information you provide, the easier it will be for potential renters to find and book your space.</p> -->

    <!-- ---------------------------------------------------------- -->
</section>
</div>
 <div class="container-fluid d-flex justify-content-center">

    <div class="col-md-12 col-sm-12 col-12 ">
    <div class="card h-100">
        <div class="card-body">

            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class="mb-2 text-color">{{couplesdetails.enquiry.name}}'s booking details</h2>
                        
                    <p class="blockquote-footer mt-2">View all Details. </p>
                    <hr class="border ">

                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Groom Name</label>
                        <div class="card custom-card"> <!-- Add a custom class -->
                            <div class="py-2 mx-3 ">
                                <span>{{ couplesdetails.groomname}}</span> 
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading ">Bride Name</label>
                        <div class="card custom-card">
                            <div class="py-2 mx-3 ">
                               <span>{{ couplesdetails.bridename}}</span> 
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Groom DOB</label>
                        <div class="card custom-card">
                            <div class="py-2 mx-3 ">
                               <span>{{ couplesdetails.groomDOB}}</span> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Bride DOB</label>
                        <div class="card custom-card">
                            <div class="py-2 mx-3 ">
                               <span>{{ couplesdetails.brideDOB}}</span> 
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Groom Age</label>
                        <div class="card custom-card">
                            <div class="py-2 mx-3 ">
                               <span>{{groomDOB}}</span> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Bride Age</label>
                        <div class="card custom-card">
                            <div class="py-2 mx-3 ">
                               <span>{{brideDOB}}</span> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Groom Father's Name</label>
                        <div class="card custom-card">
                            <div class="py-2 mx-3 ">
                               <span>{{ couplesdetails.groomfathername}}</span> 
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Bride Father's Name</label>
                        <div class="card custom-card">
                            <div class="py-2 mx-3 ">
                               <span>{{ couplesdetails.bridfathername}}</span> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Groom Mother's Name</label>
                        <div class="card custom-card">
                            <div class="py-2 mx-3 ">
                               <span>{{ couplesdetails.groommothername}}</span> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Bride Mother's Name</label>
                        <div class="card custom-card">
                            <div class="py-2 mx-3 ">
                               <span>{{ couplesdetails.bridmothername}}</span> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Groom Images Proof</label>
                        <div class="card custom-card">
                            <div class="py-2 mx-3 ">
                               <span>{{ couplesdetails.groom_proof_image}}</span> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Bride Images Proof</label>
                        <div class="card custom-card">
                            <div class="py-2 mx-3 ">
                               <span>{{ couplesdetails.brid_proof_image}}</span> 
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row gutters">
                <div class="col-xl-12">
                    <div class=" py-2 text-right">
                        <a class="bTn" href="{% url 'Booking'%}">Go back</a>
                        <a class="bTn" href="{% url 'updateBooking_details' couplesdetails.id%}">Update</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
    </div>
 
</div>
{% endblock %}
