{% extends 'acc/base.html'%}
{% load static%}
{% block content%}
<body>

<div class="container">
    
    <section id="header" class="jumbotron text-center p-4">
        
        <div class="text-center mt-5 d-flex justify-content-center">
        <h1 class="display-3 text-uppercase">Enquiry for venue</h1>
        </div>

        <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover display-3" href="{% url 'user_venues'%}"><p class="lead m-0 text-color">{{v.name}}.</p></a>
        <!-- <a class="small" href="#">{{v.name|linebreaks}}</a> -->


        
        <!-- <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h4 class="text-uppercase">Minimal Statistics Cards</h4>
        <p>Statistics on minimal cards.</p>
      </div>
    </div> -->

        
        <!-- <p class="lead"> <b> "Complete your venue profile!"</b> The more information you provide, the easier it will be for potential renters to find and book your space.</p> -->
    
        <!-- ---------------------------------------------------------- -->
    </section>
</div>
    <section class="container" style="display: flex;justify-content: center;">

      <div class="col-lg-12 mx-auto">
        <div class="card rounded shadow border-0">
          <div class="card-body  bg-white rounded">
          <!-- <h3 class="m-3">Enquery Lists</h3> -->
        <div class="table-responsive">
            <!-- <h4 class="mb-3">Enquery</h4> -->

            <form class="needs-validation shadow" id="dateForm" novalidate method="POST">
              {% csrf_token %}
              <div class="row g-3">
                  <div class="col-sm-6">
                      <label for="firstName" class="form-label fw-bold">Name</label>
                      <input type="text" name="name" class="form-control border-dark" id="firstName" placeholder="Enter Name" value="" required>
                      <div class="invalid-feedback">
                          Valid first name is required.
                      </div>
                  </div>

                  <div class="col-sm-6">
                    <label for="firstName" class="form-label fw-bold">Email</label>
                    <input type="email" name="email" class="form-control border-dark" id="firstName" placeholder="Enter email" value="" required>
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>

                  <div class="col-sm-6">
                      <label for="lastName" class="form-label fw-bold">Phone Number</label>
                      <input type="number" name="phone_number" class="form-control border-dark" id="phoneNumber" placeholder="Enter Phone Number" value="" required>
                      <div id="phoneError" class="invalid-feedback">
                        Please enter a 10-digit phone number.
                    </div>
                  </div>
                  
                  <div id="amenityFields">
                      <label class="fw-bold">Add Dates</label>
                      <div class="input-group amenity-input-container">
                          <input type="date" name="date" class="form-control date-input border-dark" placeholder="Enter Date" required>
                          <div class="input-group-append">
                              <button type="button" class="btn btn-outline-secondary remove-amenity ">Remove</button>
                          </div>
                      </div>
                      <div id="errorMessage" style="color: red; display: none;"></div>
                  </div>
                  <div class="input-group amenity-input-container">
                      <button class="bTn mt-2" type="button" id="addDate">Add Another Date</button>
                      <button class="bTn mt-2" type="submit">Save Enquiry</button>
                  </div>
              </div>
          </form>
        </div>
          </div>
        </div>
      </div>
      
</section>

    
    <script>

    document.getElementById('phoneNumber').addEventListener('input', function(event) {
      var phoneNumberInput = event.target.value;
      var phoneNumberLength = phoneNumberInput.length;
      var phoneError = document.getElementById('phoneError');
    
      if (phoneNumberLength !== 10) {
          phoneError.style.display = 'block';
      } else {
          phoneError.style.display = 'none';
      }
    });
    
  </script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
          document.getElementById('addDate').addEventListener('click', function() {
              var div = document.createElement('div');
              div.classList.add('input-group', 'amenity-input-container');
              div.innerHTML = `
                  <input type="date" name="date" class="form-control date-input border-dark mt-2" placeholder="Enter date" required>
                  <div class="input-group-append">
                      <button type="button" class="btn btn-outline-secondary remove-date mt-2">Remove</button>
                  </div> `;
              document.getElementById('amenityFields').appendChild(div);
          });
      
          document.getElementById('amenityFields').addEventListener('click', function(event) {
              if (event.target.classList.contains('remove-date')) {
                  event.target.closest('.amenity-input-container').remove();
              }
          });
      
          document.getElementById('dateForm').addEventListener('submit', function(event) {
              // Show the save button before form submission
              var amenityInputs = document.querySelectorAll('.date-input');
              var amenityNames = Array.from(amenityInputs).map(input => input.value.trim());
              if (amenityNames.some(name => name !== '')) {
                  // Show the save button before form submission
                  document.getElementById('saveDate').style.display = 'block';
              } else {
                  // Prevent form submission and show an error message
                  event.preventDefault();
                  document.getElementById('errorMessage').textContent = 'Please enter at least one date.';
                  document.getElementById('errorMessage').style.display = 'block';
              }
          });
      });
      
      
     </script>
  
</body>

{%  endblock %}

