{% extends 'acc/base.html'%}
{% block content%}

<div class="container ">
    <div class="row">
  
        <div class="col-lg-12 mx-auto">
            <div class="card rounded border-0">
                <div class="card-body rounded">
                    <div class="d-flex justify-content-between align-items-center">
                      {% if search%}
                      <p><a class=" link-offset-2 link-underline link-underline-opacity-100" href="{% url 'Enquerylist' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Go back</a></p>
                      {%endif%}
                      <h3 class="m-">Enquery Lists</h3>

                        <form class="form-inline" method="GET" action="{% url 'Enquerylist' %}">
                          <input class="form-control mr-sm-2" name="search" type="search" value="{% if search%} {{search}} {% endif %}" placeholder="Search" aria-label="Search">
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>


            <div class="table-responsive">
              <table id="example" style="width:100%" class="table  table-bordered">
                <thead>
                  <tr>
                    <th class="text-light">Sl.no</th>
                    <th class="text-light">Client Name</th>
                    <th class="text-light">Phone Number</th>
                    <th class="text-light">Dates</th>
                    <!-- <th>Update</th> -->
                    <th class="text-light">Book</th>
                    <th class="text-light">Delete</th>
                  </tr>
                </thead>
                <tbody>
                {% for enquiry in enquiries %}
                  <tr>
                    <td class="text-color">{{forloop.counter}}</td>
                    <td ><a class=" link-primary link-offset-3 link-underline-opacity-25 link-underline-opacity-100-hover " href="{% url 'enquiryUpdate' enquiry.id %}">{{ enquiry.name }}</a></td>
                    <td class="text-color">{{ enquiry.phone_number }}</td>
                    <td>
                        <ul>
                            {% for date in enquiry.dates.all %}
                            <li class="text-color">{{ date.date }}</li>
                            {% endfor %}
                        </ul>
                    </td>

                    <!-- <td><a href="{% url 'enquiryUpdate' enquiry.id %}">Update</a></td> -->

                    {% if enquiry.is_booked %}
                    <td><a class="link-success text-center link-offset-3 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Booked <i class="fa-solid fa-check"></i></a></td>
                    {% else %}
                    <td><a class="link-primary link-offset-3 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'Booking_venue' enquiry.id %}">Book</a></td>
                    {% endif %}
                    <td><a class="text-danger link-offset-3 link-underline-opacity-25" data-bs-toggle="modal" data-bs-target="#exampleModal"  href="{% url 'delete_enquiry' enquiry.id %}">delete</a></td>


                    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Launch demo modal
                    </button> -->
                    
                    <!-- Modal start -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Enquiry</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">

                            <form action="{% url 'delete_enquiry' enquiry.id%}" method="POST" autocomplete="off">
                              {% csrf_token %}
                  
                              <div class="alert alert-danger" role="alert">
                                  Are You sure to Delete Enquiry!
                              </div>
                              <div class="row gutters">
                                  <div class="col-xl-12">
                                      <div class=" py-4 text-right">
                                          <a  class="btn btn-outline-info p-2" href="{%url 'Enquerylist'%}">Cancle</a>
                                          <button type="submit" class="btn btn-outline-danger p-2">Delete Enquiry </button>
                                      </div>
                                  </div>
                              </div>
                            </form>

                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Modal ends -->

                    
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- {% for b in booked%}
   <p>{{b}}</p>
  {%endfor%} -->

  
</body>
{%  endblock %}