{% extends 'acc/base.html'%}
{% block content%}

<div class="container ">
    <div class="row">
      <p>{{ invoice }}</p>
        
      <div class="col-lg-12 mx-auto">
        <div class="card rounded border-0">
            <div class="card-body rounded">
                <div class="d-flex justify-content-between align-items-center">
                  {% if search%}
                  <p><a class=" link-offset-2 link-underline link-underline-opacity-100" href="{% url 'payment_list' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Go back</a></p>
                  {%endif%}
                  <h3 class="m-">Payment Lists</h3>

                    <form class="form-inline" method="GET" action="{% url 'payment_list' %}">
                      <input class="form-control mr-sm-2" name="search" type="search" value="{% if search%} {{search}} {% endif %}" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                
                </div>
            </div>
        </div>
    </div>
</div>
            <div class="table-responsive">
              <table id="example" style="width:100%" class="table  table-bordered">
                <thead>
                  <tr>
                    <th class="text-light">Invoice.no</th>
                    <!-- <th class="text-light">Groomname</th> -->
                    <th class="text-light">Client Name</th>
                    <th class="text-light">Phone Number</th>
                    <th class="text-light">Balance</th>
                    <th class="text-light">Paid Amount</th>
                    <th class="text-light">Total Amount</th>
                    <th class="text-light">Status</th>
                    <th class="text-light">Details</th>
                    <th class="text-light">update</th>
                  </tr>
                </thead>
                <tbody>
                {% for invoice in  invoices %}
                
                <tr>
                    <td class="text-color text-center">{{invoice.invoice_number}}</td>
                    <td class=" text-color text-center">{{ invoice.enquiry.name }}</td>
                    <td class=" text-color text-center">{{ invoice.enquiry.phone_number }}</td>
                    <!-- <td class="text-color">{{ invoice.bridename }}</td> -->
                    <!-- <td>
                        <ul>
                            {% for date in invoice.enquiry.dates.all %}
                            <li class="text-color list-unstyled m-0">{{ date }}</li>
                            {% endfor %}
                        </ul>
                    </td> -->

                    <td class="text-color text-center"><i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;{{invoice.get_balance |floatformat:2  }}</td>
                    <td class="text-color text-center"> <i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;{{invoice.total_paid_amount|floatformat:2 }}</td>
                    <td class="text-color text-center"><i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;{{invoice.venue.price |floatformat:2 }}</td>
                    <!-- {{venue.venue_total_amt|floatformat:2}} -->

                    {% if invoice.status%}
                    <td><a class="link-success text-center link-offset-3 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Full Payment</a></td>
                    {% else %}
                    <td class="text-danger">Pending</td>
                    {% endif %}


                    <!-- <td class="text-color"><i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;{{invoice.get_balance|floatformat:2}}</td> -->

                    <td>
                      <a class=" link-offset-3 link-underline-opacity-25" href="{% url 'details' invoice.venue_id invoice.enquiry_id%}">View</a>
                      
                    </td>

                    <td>
                    {% if invoice.status %}
                       <p class="link-success m-0"> Payment Completed <i class="fa-solid fa-check"></i></p>
                    {% else %}
                        <a class=" link-offset-3 link-underline-opacity-25" href="{% url 'update_payment' invoice.venue_id invoice.enquiry_id %}">Payment</a>
                    {% endif %}
                    </td>
                

                  </tr>
                  {% endfor %}
                  

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
{%  endblock %}