{% extends 'acc/base.html'%}
{% block content%}

<div class="container ">

    <section id="header" class="jumbotron text-center p-5">
        <div class="owner-info float-left d-flex flex-column">
            <p class="m-0 d-flex">{{venue.user.name}}</p>
            <p class="m-0 d-flex">{{venue.user.phone}}</p>
            <p class="m-0 d-flex">{{venue.user.email}}</p>
        </div>
        <p class="float-right m-0"><span>GST Number: &nbsp;</span> <b>{{venue.gst_number}}</b></p><br>
       
        
        
        <div class="text-center mt-5 d-flex justify-content-center">

        </div>
        
        <h4 class="text-uppercase m-0 text-color">{{venue.name}}</h4>
        <a class="small" href="#">{{v.name|linebreaks}}</a>
        <p class=" m-0"><span> &nbsp;</span> {{venue.address_line_1}}, {{venue.address_line_2}}</p>
        <p class=" m-0"><span> &nbsp;</span> {{venue.city}}, {{venue.state}}, {{venue.pincode}}</p>
      
    </section>

    <div class="row">
        <div class="col-lg-12 mx-auto">
            <div class="card rounded shadow border-0">
                <div class="card-body rounded">
              <h3 class="m-3 text-center">Details of payment</h3>
            <div class="table-responsive">

                <table id="example" style="width:100%" class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-light text-center">Invoice.no</th>
                            <th class="text-light  text-center">Payed amount</th>
                            <th class="text-light  text-center">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                       
                        

                        {% for history in invoice_history %}
                        <tr>
                            <td class="text-color text-center">{{ history.invoice_number  }}</td>
                            <td class="text-color text-center"><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{ history.paying_amount|floatformat:2 }}</td>
                            <td class="text-color text-center">{{ history.date_updated }}</td>
                        </tr>
                        {% endfor %}


                        {% if invoice %}
                        <tr>
                            <td class="text-color text-center">{{ invoice.invoice_number }}</td>
                            <td class="text-color text-center"><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{ invoice.advance_amt|floatformat:2 }}</td>
                            <td class="text-color text-center">{{ invoice.date_created}}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                
                
                
            </div>
        </div>
    </div>
</div>
<a class="bTn text-center mt-4" href="{% url 'pdf_report_create' venue.id enquiry.id%}">Create Pdf</a>
</div>
</div>

</body>
{%  endblock %}




 