{% extends 'acc/base.html' %}

{% load static %}

{% block content %}
 <div class="container d-flex justify-content-center">

    <div class=" col-xl- col-lg-10 col-md-12 col-sm-12 col-12 ">
    <div class="card h-100">
        <div class="card-body">

            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        
                    <p class="blockquote-footer">View Your Details <strong>{{couple.groomname |upper}} and {{couple.bridename |upper}}</strong></p>
                    <hr class="border ">

                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Groom Name</label>
                        <div class="card">
                            <div class="py-2 mx-3 ">
                               <span>{{ couple.groomname}}</span> 
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Bride Name</label>
                        <div class="card">
                            <div class="py-2 mx-3 ">
                               <span>{{ couple.bridename}}</span> 
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Groom DOB</label>
                        <div class="card">
                            <div class="py-2 mx-3 ">
                               <span>{{ couple.groom_dob}}</span> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Groom DOB</label>
                        <div class="card">
                            <div class="py-2 mx-3 ">
                               <span>{{ couple.bride_dob}}</span> 
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Contact number</label>
                        <div class="card">
                            <div class="py-2 mx-3 ">
                               <span>{{ couple.phone_number}}</span> 
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Wedding Date</label>
                        <div class="card">
                            <div class="py-2 mx-3 ">
                               <span>{{ couple.Wedding_date}}</span> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gutters">
                <div class="col-xl-12">
                    <div class=" py-2 text-right">
                        <a class="btn btn-outline-info" href="{% url 'home'%}">Cancle</a>
                        <a class="btn btn-primary" href="{% url 'coupleupdate' couple.id %}">Update</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
 
</div>
{% endblock %}
