{% extends 'acc/base.html'%}

{% load crispy_forms_tags %}

{% block content %}


<body>

    <div class="container">
            
        <h1>All Registred Couples</h1>

            <table class="table  table-bordered">
                <thead>
                  <tr>
                    <th scope="col">S.no</th>
                    <th scope="col">groomname</th>
                    <th scope="col">bridename</th>
                    <th scope="col">groom_dob</th>
                    <th scope="col">bride_dob</th>
                    <th scope="col">phone_number</th>
                    <th scope="col">Wedding_date</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                {% for user in couple%}

                <tbody>
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{user.groomname |upper}}</td>
                    <td>{{user.bridename |upper}}</td>
                    <td>{{user.groom_dob|date:"d M Y"}}</td>
                    <td>{{user.bride_dob|date:"d M Y"}}</td>
                    <td>{{user.phone_number}}</td>
                    <td>{{user.Wedding_date|date:"D d M Y"}}</td>
                    <td><a href="{% url 'coupleview' user.id%}">Edit</a></td>
                    <td><a style="color: red;" href="{% url 'coupledelete' user.id %}"><i class="fa-solid fa-x"></i></a></td>
                  </tr>
                </tbody>
                {% endfor %}
            </table>
    </div>
</body>

{% endblock %}