{% extends 'acc/base.html'%}
{% load static %}
{% block content %}
<body>
    <section id="header" class="jumbotron text-center">
        <h1 class="display-3">Venue Informations</h1>
        
        {%for v in venue%}
        <p class="lead m-0">Adding images to venue </p>
        <a class="small" href="#">{{v.name|linebreaks}}</a>
        {% endfor%}
        
        <p class="lead"> <b> "Complete your venue profile!"</b> The more information you provide, the easier it will be for potential renters to find and book your space.</p>
      
        <!-- ---------------------------------------------------------- -->
    </section>
    <div class="container ">
        
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">
                <div class="card">
                    <form action="" method="POST" class="vendor-form" enctype="multipart/form-data">
                        <h1 class="text-center">Add Images</h1><hr>

                        {% csrf_token %}

                        <div class="form-group m-3">
                            <label for="formFileSm" class="form-label">Upload Images</label>
                            <input class="form-control" type="file" multiple name="image" id="formFileDisabled">
                        </div>
                        <button class="btn btn-outline-success m-3">Submit</button>
                    </form>
                </div>
            </div>
         
        </div>
    </div>

</body>
{% endblock %}