{% extends 'acc/base.html'%}
{% load static %}
{% block content %}
<body>
    <section id="header" class="jumbotron text-center">
        <h1 class="display-3">Restriction</h1>
        
        {%for v in venue%}
        <p class="lead m-0">Adding Restriction to venue </p>
        <a class="small" href="#">{{v.name|linebreaks}}</a>
        {% endfor%}
        
        <p class="lead">Restrictions can help ensure the safety of guests, staff, and the venue itself.  By outlining restrictions on access and behavior, you can create a more secure environment for everyone involved in the event.</p>
      
        <!-- ---------------------------------------------------------- -->
    </section>


    <div class="container ">

        <!-- <div id="showFormButton" class="text-center">
            <h1 class="underline">Add Additional Information</h1>

                <button class="bTn" >Add Additional Info</button>
            </div>
            </div> -->
        
        <div class="row  justify-content-center">
            <div class="col-md-12 py-5 border">
                <form id="amenityForm" method="post">
                    {% csrf_token %}
                    <div id="amenityFields">
                        <!-- Initial amenity input field -->
                        <h4>Add Restriction</h4>
                        <div class="input-group amenity-input-container">
                            <input type="text" name="restriction_name" class="form-control amenity-input border-dark" placeholder="Enter Restriction" required>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary remove-amenity ">Remove</button>
                            </div>
                        </div>
                        <div id="errorMessage" style="color: red; display: none;"></div>
                    </div>
                    <button class="bTn mt-2 " type="button" id="addAmenity">Add Another Restriction</button>
                    <button class="bTn mt-2 ml-2" type="submit" id="" >Save Restriction</button>
                </form>
                </div>
            </div>
        </div>
       

   <script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('addAmenity').addEventListener('click', function() {
            var div = document.createElement('div');
            div.classList.add('input-group', 'amenity-input-container');
            div.innerHTML = `
                <input type="text" name="restriction_name" class="form-control amenity-input border-dark mt-2" placeholder="Enter Restrictions">
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary remove-amenity mt-2">Remove</button>
                </div> `;
            document.getElementById('amenityFields').appendChild(div);
        });
    
        document.getElementById('amenityFields').addEventListener('click', function(event) {
            if (event.target.classList.contains('remove-amenity')) {
                event.target.closest('.amenity-input-container').remove();
            }
        });
    
        document.getElementById('amenityForm').addEventListener('submit', function(event) {
            // Show the save button before form submission
            var amenityInputs = document.querySelectorAll('.amenity-input');
            var amenityNames = Array.from(amenityInputs).map(input => input.value.trim());
            if (amenityNames.some(name => name !== '')) {
                // Show the save button before form submission
                document.getElementById('saveAmenities').style.display = 'block';
            } else {
                // Prevent form submission and show an error message
                event.preventDefault();
                document.getElementById('errorMessage').textContent = 'Please enter at least one Restrictions.';
                document.getElementById('errorMessage').style.display = 'block';
            }
        });
    });
    
    
   </script>

   
</body>
{% endblock %}

