{% extends 'acc/base.html'%}
{% load static %}
{% block content %}
<body>

    <section>
        <div class="horizintal-bar ">
            <div class="container">
                <div class="d-flex gap-2 justify-content-center py-1">
                    {% if venueinfo_exists%}
                    <p>yes venue_info exist</p>
                    {%else%}
                   <a href="{% url 'addvenue_info'%}"><button class="bTn d-inline-flex align-items-center" type="submit">
                       ADD VENUE INFORMATIONS
                      </button></a>
                      {%endif%}

                      <!-- {% for v in venue %}
                    <a href="{% url 'add_amenity' v.id%}"><button class="bTn d-inline-flex align-items-center" type="button">
                        ADD aminity 
                        {%endfor%}
                    </button></a> -->

                    {% for v in venue %}
                    <a href="{% url 'add_amenity' v.id%}"><button class="bTn d-inline-flex align-items-center" type="button">
                        ADD AMENITIES
                        {%endfor%}
                    </button></a>

                    {% for v in venue %}
                    <a href="{% url 'add_restrictions' v.id%}"><button class="bTn d-inline-flex align-items-center" type="button">
                        ADD RESTRICTIONS 
                    {%endfor%}
                    </button></a>

                    {% for v in venue %}
                          <a href="{% url 'add_images' v.id%}"><button class="bTn d-inline-flex align-items-center" type="button">
                        ADD IMAGES
                    {%endfor%}
                      </button></a>
                    {% if contact_exist%}
                    <p>contact exist</p>
                    {% else %}
                      {% for v in venue %}
                      <a href="{% url 'contact_info' v.id%}"><button class="bTn d-inline-flex align-items-center" type="submit">
                        CONTACT INFORMATIONS 
                        {%endfor%}
                        {%endif%}
                      </button></a>

                    <a href=""><button class="bTn d-inline-flex align-items-center" type="button">
                        ADD SERVICES
                      </button></a>
                      
                  </div>
            </div>
        </div>


        <div class="horizintal-bar mt-3">
            <div class="container">
                <div class="d-flex gap-2 justify-content-center py-1">

                </button>
                {% if venueinfo_exists %}
                {% for v in venue %}
                <a href="{% url 'viewvenue_info' v.id%}"><button class="bTn d-inline-flex align-items-center" type="button">
                    UPDATE VENUE INFORMATIONS
                </button></a>
                {%endfor%}
                    {%endif%}


                </button>

                {% for v in venue %}
                <a href="{% url 'viewAmenities' v.id%}"><button class="bTn d-inline-flex align-items-center" type="button">
                   Update Amenities
                </button></a>
                {%endfor%}


                {% for v in venue %}
                <a href="{% url 'viewrestrictions' v.id%}"><button class="bTn d-inline-flex align-items-center" type="button">
                   Update RESTRICTIONS
                </button></a>
                {%endfor%}
                

                {% for v in venue %}
                <a href="{% url 'view_image' v.id%}"><button class="bTn d-inline-flex align-items-center" type="button">
                   Update Images
                </button></a>
                {%endfor%}


                {% for v in venue %}
                <a href="{% url 'updatecontact_info' v.id%}"><button class="bTn d-inline-flex align-items-center" type="button">
                   Contact Informations
                </button></a>
                {%endfor%}

                
                  </div>
            </div>
        </div>
    </section>


    
    

</body>
{% endblock %}