{% extends 'acc/base.html'%}
{% load static %}
{% block content %}
<body>

    <section>
        <div class="horizintal-bar ">
            <div class="container">
                <div class="d-flex gap-2 justify-content-center py-1">
                   <a href="{% url 'addvenue_info'%}"><button class="bTn d-inline-flex align-items-center" type="submit">
                       ADD VENUE INFORMATIONS
                      </button></a>
                      
                    <a href="{% url 'add_amenity' %}"><button class="bTn d-inline-flex align-items-center" type="button">
                        ADD AMENITIES

                    </button></a>
                    <button class="bTn d-inline-flex align-items-center" type="button">
                        ADD RESTRICTIONS

                      </button>

                      <button class="bTn d-inline-flex align-items-center" type="button">
                        VENUE IMAGES
                      </button>
                      <button class="bTn d-inline-flex align-items-center" type="submit">
                        CONTACT INFORMATIONS
                      </button>
                    <a href=""><button class="bTn d-inline-flex align-items-center" type="button">
                        ADD SERVICES
                      </button></a>
                      
                  </div>
            </div>
        </div>


        <div class="horizintal-bar ">
            <div class="container">
                <div class="d-flex gap-2 justify-content-center py-1">
                    {% if venueinfo_exists%}
                    {% for v in venue %}
                   <a href="{% url 'viewvenue_info' v.id%}"><button class="bTn d-inline-flex align-items-center" type="submit">
                      {{v.name}}
                      </button></a>
                      {%endfor%}
                      {% else %}
                      <p>not</p>
                      {% endif %}
                      
                    <!-- <button class="bTn d-inline-flex align-items-center" type="button">
                        ADD AMENITIES

                    </button>
                    <button class="bTn d-inline-flex align-items-center" type="button">
                        ADD RESTRICTIONS

                      </button>

                      <button class="bTn d-inline-flex align-items-center" type="button">
                        VENUE IMAGES
                      </button>
                      <button class="bTn d-inline-flex align-items-center" type="submit">
                        CONTACT INFORMATIONS
                      </button>
                    <a href=""><button class="bTn d-inline-flex align-items-center" type="button">
                        ADD SERVICES
                      </button></a> -->
                      
                  </div>
            </div>
        </div>
    </section>


    
    <div class="container ">
        
        <div class="row  justify-content-center mt-5">
            <div class="col-md-8">
                <div class="card">
                    <form action="" method="POST" class="vendor-form" enctype="multipart/form-data">
                        <h1>Add Venue</h1><hr>

                        {% csrf_token %}

                        <div class="form-group m-3">
                            <label for="">Venue Name</label>
                            <input type="text" name="name" placeholder="Enter Venue Name" class="form-control" id="" required>
                        </div>
<!-- 
                        <div class="form-group m-3">
                            <label for="">Amenities</label>
                            <input type="text" name="amenities"  placeholder="Enter capacity" class="form-control" id="" required>
                            <select name="amenities" id="amenities" class="form-control" multiple>
                                <option value="">Choose</option>
                            </select>
                        </div> -->



                        
                        <!-- <div class="form-group m-3">
                            <label for="">Capacity</label>
                            <input type="number" name="capacity" placeholder="Enter capacity" class="form-control" id="" required>
                        </div> -->

                        <!-- <div class="form-group m-3">
                            <label for="">Booking Cost</label>
                            <input type="number" name="booking_cost" placeholder="Enter capacity" class="form-control" id="" required>
                        </div> -->

                        <div class="form-group m-3">
                            <label for="">Owner Contact Number</label>
                            <input type="tel" name="phone_number" placeholder="Enter your Contact Number"  class="form-control" id="" required>
                        </div>

                        <div class="form-group m-3">
                            <label for="">Address</label>
                            <input type="text" name="address" placeholder="Enter your Address" class="form-control" id="" required>
                        </div>

                        <div class="form-group m-3">
                            <label for="">City</label>
                            <input type="text" name="city" placeholder="Enter City" class="form-control" id="" required>
                        </div>

                        <div class="form-group m-3">
                            <label for="">State</label>
                            <input type="text" name="state" placeholder="Enter State" class="form-control" id="" required>
                        </div>

                        <div class="form-group m-3">
                            <label for="">Zipcode</label>
                            <input type="number" name="zipcode" placeholder="Enter ZipCode" class="form-control" id="" required>
                        </div>

                        <!-- <div class="form-group m-3">
                            <label for="formFileSm" class="form-label">Display Photo</label>
                            <input class="form-control" type="file"  name="venue_image" id="formFileDisabled">
                        </div> -->

                        <!-- <div class="form-group m-3">
                            <label for="formFileSm" class="form-label">Upload Images</label>
                            <input class="form-control" type="file" multiple name="image" id="formFileDisabled">
                        </div> -->
                        <button class="btn btn-outline-success m-3">Submit</button>
                    </form>
                </div>
            </div>
         

        </div>
    </div>

</body>
{% endblock %}