{% extends 'acc/base.html'%}
{% load static %}
{% block content %}
<body>
 

  <!-- {% if venueamenities_exist %} -->
  {% for v in venue %}
    <a href="{% url 'viewAmenities' v.id %}"><button class="btn d-inline-flex align-items-center" type="button">
      {{ v.name }}
    </button></a>
  {% endfor %}
<!-- {% else %} -->
  <p>No amenities found.</p>
<!-- {% endif %} -->

  
<!-- {% if venueamenities_exist %}
  {% for v in venue %}
    <h2>{{ v.name }}</h2>
    {% if v.amenities.all %}
      <ul>
        {% for amenity in venue.amenities.all %}
          <li>{{ amenity.amenity_name }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No amenities found for this venue.</p>
    {% endif %}
  {% endfor %}
{% else %}
  <p>No amenities found.</p>
{% endif %} -->
</body>
{%endblock%}