{% extends 'acc/base.html'%}
{% load static %}
{% block content %}
<body>
  <!-- <main>
    <section class="py-1 text-center container">
      <div class="row ">
        <div class="col-lg-9 col-md-6 mx-2" style="background-color: bisque;">
            <p>hjgsd</p>

        </div>
      </div>
    </section>
  </main> -->
  <main>
    

    <section class="py-1  container ">

      <!-- <h1>Venue Name {{venue.name}}</h1> -->
      <div class="row">
        <div class="col-lg-11 col-md-6 mx-md-auto mx-lg- vendor-form">
          
          <!-- slider Starting -->
          
          
          <div class="container ">
            
            <div class="row ">
              <h2 class="py-2 fw-bold"> Venue Details</h2>
              <div class="col-md-5">
                <div class="h-100 p-4 text-bg-dark border-end">

                  <div class="title ">
                      <b>Name: <span class="small"></span></b>
                      <p class="ml-5 small">{{venue.name}}</p>
                  </div>
                  <div class="venue-capacity py-2 ">
                    <b> <i class="fa-solid fa-users-between-lines"> &nbsp;</i>Guest Capacity:</b>
                    <p class="ml-5 small">- Accommodates up to {{venue.capacity}} guests.</p>
                 </div>

                 <div class="venue-capacity py-2 ">
                  <b> <i class="fa-regular fa-rectangle-list"></i> &nbsp;</i>Services:</b>
                  {% for s in service%}
                  <p class="ml-5 small mt-0 mb-0">- {{s}}</p>
                  {% if s.outdoor%}
                  <p class="ml-5 small mt-0 mb-0">- Outdoor</p>
                  {% if s.indoor%}
                  <p class="ml-5 small mt-0 mb-0">- Indoor</p>
                  {%else%}

                  {%endif%}
                  {%else%}

                  {%endif%}
                    
               {%endfor%} 
               </div>
               
              <div class="venue-capacity py-2 ">
                <b> <i class="fa-solid fa-location-dot"></i> Location:</b>
                <p class="ml-5 small mt-0 mb-0">{{venue.address_line_1}}</p>
                <p class="ml-5 small mt-0 mb-0">{{venue.address_line_2}}</p>
                <p class="ml-5 small mt-0 mb-0">{{venue.city}}</p>
                <p class="ml-5 small mt-0 mb-0">{{venue.state}}, {{venue.pincode}}</p>

              </div>
              </div>
                
              </div>
              
              <div class="col-md-6">
                <div class="h-100 p-4 bg-body-tertiary ml-4">
                  <b>Description</b>
                  <p class=" small mt-3 mb-0">{{venue.description}}</p>
                  <!-- <button class="btn btn-outline-secondary" type="button">Example button</button> -->
                </div>
              </div>
            
            </div>

<hr>
            <b></b>
            <h3 class="py-2 fw-bold">Venue Images</h3>

            <!-- <div class="col-md-11">
              <b>Services Option:</b>

              <div class="h-100 p-4 bg-body-tertiary">
                {% for s in service %}
                <b class="ml- mt-0 mb-2">venue provide  {{ s }} and thier details :</b>

                
                {% for category in s.category.all %}
                    {% if category.name == "Ceremony" %}
                    <br><br><b class="">Ceremony:</b>
                    {% if s.outdoor %}
                        <p class="ml-4 small mt-0 mb-0">Outdoor:</p>
                        <p class="ml-5 small mt-0 mb-0">Max Outdoor capacity: {{ s.max_capacity_outdoor }}</p>
                        {%else%}
                        <p>no</p>
                    {% endif %}

                        {% if s.indoor %}
                        <p class="ml-4 small mt-0 mb-0">indoor:</p>
                        <p class="ml-5 small mt-0 mb-0">Max indoor capacity: {{ s.max_capacity_indoor }}</p>

                        {%else%}
                        <p>no</p>
                    {% endif %}
                    {% endif %}

                {% endfor %}

                {% for category in s.category.all %}
                {% if category.name == "Reception" %}
                <b>Reception:</b>
                {% if s.outdoor %}
                    <p class="ml-4 small mt-0 mb-0">Outdoor:</p>
                    <p class="ml-5 small mt-0 mb-0">Max Outdoor capacity: {{ s.max_capacity_outdoor }}</p>
                    {%else%}
                    <p>no</p>
                {% endif %}

                    {% if s.indoor %}
                    <p class="ml-4 small mt-0 mb-0">indoor:</p>
                    <p class="ml-5 small mt-0 mb-0">Max indoor capacity: {{ s.max_capacity_indoor }}</p>

                    {%else%}
                    <p>no</p>
                {% endif %}
                {% endif %}

            {% endfor %}
        
            
                
            {% endfor %} -->
                <!-- <p class=" small mt-3 mb-0">{{venue.note}}</p> -->
              <!-- </div>
            </div> -->  <div class="slider " style="width: 100%;">
          {% for im in venue_images%}
          <img class="slide" src="{{im.image.url}}"  alt="home1back" >
          {%endfor%}

          <!-- <img class="slide" src="{% static 'images/home2back.jpeg'%}"   alt="home2back">
          <img class="slide" src="{% static 'images/home3back.jpeg'%}"  alt="home3back"> -->
          

          <div class="slider-button">

              <button onclick="goPrev()"><i class="fa-solid fa-arrow-left"></i></button>
              <button onclick="goNext()"><i class="fa-solid fa-arrow-right"></i></button>
          </div>
      </div>
        <!-- slider end -->

<hr>
            

            <div class="col-md-11">
              <div class="h-100 p-4 bg-body-tertiary">
                <b>Notice:</b>
                <p class=" small mt-3 mb-0">{{venue.note}}</p>
              </div>
            </div>
          
<hr>
     
      <div class="row ">
        <b class="ml-5">Amenities and Restrictions</b>

        <div class="col-md-5">

          <div class="h-100 p-4 text-bg-dark">
           <div class="venue-capacity py-2 ">
            <!-- <b>Amenities:</b> -->
            <div class="venue-capacity py-2 ">
              <p class=" fw- ml-5">Amenities</p>
              {% for v  in venueAmenities%}
              <p class="ml-5 mt-  small">- {{v.amenity_name|linebreaksbr}}</p>
              {% endfor %}
             
            </div>
         </div>
         
        
        </div>  
        </div>
        
        <div class="col-md-6">
          <div class="h-100 p-4 bg-body-tertiary ml-4">
            <div class="venue-capacity ">
              <!-- <b>Restrictions:</b> -->

              <div class="venue-capacity py-2 ">
                <p class=" fw- ml-5">Restrictions</p>
                {% for r  in venueRestrictions%}
                <p class="ml-5 mt-2  small">- {{r.restriction_name|linebreaksbr}}</p>
                {% endfor %}
               
              </div>
          </div>
        </div>
    
        <hr>

      </div>
          </div>                 
        </div>

    </section>
  </main>

  
  
</body>

  {% endblock %}