{% extends 'acc/base.html'%}
{% load static %}
{% block content %}
<body>
    
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Venues</h2>
    <div class="row g-4 py-2 row-cols-1">

      <div class="feature border py-2 col">
        <h3 class="fs-2 text-body-emphasis">{{venue}}</h3>
         <strong>name:</strong><span> {{venue.name}}</span><br>
         <strong>capacity:</strong><span> {{venue.capacity}}</span><br>
         <strong>phone_number:</strong><span> {{venue.phone_number}}</span><br>
         <strong>address:</strong><span> {{venue.address}}</span><br>
         <strong>city:</strong><span> {{venue.city}}</span><br>
         <strong>state:</strong><span> {{venue.state}}</span><br>
         <strong>zipcode:</strong><span> {{venue.zipcode}}</span><br>
         {% for venue_image in venue_images %}
         <strong>image:</strong><span> <img src="{{ venue_image.image.url }}" alt=""></span><br>
         {% endfor %}

        <a href="#" class="icon-link">
          Call to action
        </a>
      </div>

    </div>
  </div>
</body>

  {% endblock %}