{% extends 'acc/base.html'%}
{% load static %}
{% block content %}
<body>

        <div class="col-md-12 py-5 border">
            <form id="amenityForm" method="post">
                {% csrf_token %}
                <div id="amenityFields">
                    <!-- Initial amenity input field -->
                    <h4>update Amenities</h4>
                    <div class="input-group amenity-input-container">
                        <input type="text" name="restriction_name" value="{{restrictions.restriction_name}}" class="form-control amenity-input border-dark" placeholder="Enter Amenity">
                        <div class="input-group-append">
                        </div>
                    </div>
                </div>
                <a class="bTn" href="{{request.META.HTTP_REFERER}}">Go back</a>

                <button class="bTn mt-2 ml-2" type="submit" id="" >Save restrictions</button>
            </form>
            </div>
        </div>

</body>
{%endblock%}