{% extends 'acc/base.html'%}
{% load static %}
{% block content %}
<body>
    
    <div class="container ">
        
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">
                <div class="card">
                    <form action="" method="POST" class="vendor-form" enctype="multipart/form-data">
                        <h1 class="text-center">Update Venue Informations</h1><hr>

                        {% csrf_token %}

                        <div class="form-group text-dark font-weight-bold m-3">
                            <label for="">Venue Name:</label>
                            <input type="text" name="name"  value="{{venue.name}}" class="form-control border-dark" id="" required>
                        </div>
<!-- 
                        <div class="form-group m-3">
                            <label for="">Amenities</label>
                            <input type="text" name="amenities"  placeholder="Enter capacity" class="form-control" id="" required>
                            <select name="amenities" id="amenities" class="form-control" multiple>
                                <option value="">Choose</option>
                            </select>
                        </div> -->

                        
                        <div class="form-group text-dark font-weight-bold m-3">
                            <label for="">Address_1:</label>
                            <input type="text" name="address_line_1" value="{{venue.address_line_1}}" class="form-control border-dark" id="" required>
                        </div>

                        <div class="form-group text-dark font-weight-bold m-3">
                            <label for="">Address_2:</label>
                            <input type="text" name="address_line_2" value="{{venue.address_line_2}}" class="form-control border-dark" id="" required>
                        </div>

                        <div class="form-group text-dark font-weight-bold m-3">
                            <label for="">City:</label>
                            <input type="text" name="city" value="{{venue.city}}" class="form-control border-dark" id="" required>
                        </div>

                        <div class="form-group text-dark font-weight-bold m-3">
                            <label for="">State:</label>
                            <input type="text" name="state" value="{{venue.state}}"  class="form-control border-dark" id="" required>
                        </div>

                        <div class="form-group text-dark font-weight-bold m-3">
                            <label for="">Pincode:</label>
                            <input type="number" name="pincode" value="{{venue.pincode}}"  class="form-control border-dark" id="" required>
                        </div>

                        <div class="form-group text-dark font-weight-bold m-3">
                            <label for="">Guest Capacity:</label>
                            <input type="number" name="capacity" value="{{venue.capacity}}"  class="form-control border-dark" id="" required>
                        </div>

                        <div class="form-group text-dark font-weight-bold m-3">
                            <label for="">Terms and Condition:</label>
                        <textarea type="text" name="note"  id="" cols="30" rows="10" class="form-control border-dark" required>{{venue.note}}</textarea>
                        </div>

                        <div class="form-group text-dark font-weight-bold m-3">
                            <label for="">Description about venue:</label>
                        <textarea type="text" name="description" id="" cols="30" rows="10" class="form-control border-dark" required>{{venue.description}}</textarea>
                        </div>

                        <div class="form-group text-dark font-weight-bold m-3">
                            <label for="">Price per day:</label>
                            <input type="number" name="price" value="{{venue.price}}" class="form-control border-dark" id="" required>
                        </div>

                        <div class="form-group text-dark font-weight-bold m-3">
                            <label for="formFileSm" class="form-label">Display Photo:</label>
                            <input class="form-control border-dark" type="file"  name="photo" id="formFileDisabled">
                            {% if venue.photo %}
                            <a href="{{ venue.photo.url }}" target="">
                                <img src="{{ venue.photo }}" alt="{{ venue.photo.url }}"></a>
                            {% endif %}
                        </div>
                        <!-- <div class="form-group m-3">
                            <label for="formFileSm" class="form-label">Upload Images</label>
                            <input class="form-control" type="file" multiple name="image" id="formFileDisabled">
                        </div> -->
                        <button class="btn btn-outline-success m-3">Submit</button>
                    </form>
                </div>
            </div>
         

        </div>
    </div>

</body>
{% endblock %}