{% extends 'acc/base.html'%}
{% load static %}
{% block content %}

<body>


  <div class="container">
    <!-- <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="">

                    <label for="search_input" class="m-3">Search by Location </label>
                    <div class="input-group">
                        <input class="form-control " type="text" id="search_input" name="query" placeholder="Search Venues by Location" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search &nbsp;<i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
              <p id="search_error"></p>

            </div>
        </div>
    </div>
    </div> -->
    
   <!-- <div class=" text-center container-fluid" style="background-color:rgb(23, 51, 79); color: white;">
  
    <div class="card-header">
      Venues
    </div>

   </div> -->

<section id="header" class="jumbotron text-center container p-5">
  {% for venue in user_venues %}

  <div class="owner-info float-left d-flex flex-column">
    <p class="m-0 d-flex">{{venue.user.name}}</p>
    <p class="m-0 d-flex">{{venue.user.phone}}</p>
    <p class="m-0 d-flex">{{venue.user.email}}</p>
</div>
<p class="float-right m-0"><span>GST Number: &nbsp;</span> <b>{{venue.gst_number}}</b></p><br>
{%endfor%}
  
                 <h1 class="display-3  mt-5 d-flex justify-content-center">Venue</h1>
                 {% for venue in user_venues %}

                 <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover display-3" href="{% url 'show_user_venue' venue.id%}"><p class="lead m-0 text-color">{{venue.name}}.</p></a>

                 {%endfor%}
                 <!-- <a href="" class="btn btn-primary">Click</a>
                 <a href="" class="btn btn-secondary">Click</a> -->
                 <!-- ---------------------------------------------------------- -->

<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">

<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">



<div class="grey-bg container mt-5">
  <section id="minimal-statistics">
    <!-- <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h4 class="text-uppercase">Minimal Statistics Cards</h4>
        <p>Statistics on minimal cards.</p>
      </div>
    </div> -->
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12"> 
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <!-- <i class="icon-pencil primary font-large-2 float-left"></i> -->
                  <i class="fa-solid fa-message primary font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>{{enquiry_count}}</h3>
                  <span>Total Enquiry</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="fa-solid fa-indian-rupee-sign success font-large-2 float-left"></i>

                </div>
                <div class="media-body text-right">
                  <h3>0</h3>
                  <span>Advance Paid</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <!-- <i class="icon-graph success font-large-2 float-left"></i> -->
                  <i class="fa-solid fa-indian-rupee-sign danger font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>0</h3>
                  <span>Payment Pending</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="fas fa-map-marker-alt primary font-large-2 float-left"></i>

                </div>
                <div class="media-body text-right">
                  <h3>0</h3>
                  <span>Venue Booked</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
     

  </section>
  
  </div>
</div>
</section>
</div>
  </section>

	    <div class="venue py-3">
        <div class="row container">
          
          <p class="lead text-body-secondary  py-2 text-center fw-bold"></p>

            <section id="gallery" class="gallerys vendor-form">
              <div class="container">
                <div class="row">
                  {% for venue in user_venues %}
                  <div class="col-lg-4 mb-4 mt">
                    
                    <div class="card">
                      <div>
                          <a href="{% url 'show_user_venue' venue.id%}">
                          <img  src="{{ venue.photo.url }}" alt="{{ venue.photo.url }}" class="card-img-top">
                          </a>
                        </div>
                      <div class="card-body">
                        <!-- <img  src="{{ venue.photo.url }}" alt="{{ venue.photo.url }}" class="card-img-top"> -->
                        <h5 class="card-title m-0">{{ venue.name }} <span><a href="" class="btn btn-outline-danger btn-sm float-right"><i class="far fa-heart"></i></a></span></h5>
                        <p class="small"><i class="fa-solid fa-location-dot"></i> &nbsp;{{ venue.address_line_1 }} | {{ venue.city }}</p>
                        <p class="card-text small">{{ venue.description|truncatewords:19 }}</p>
                        <div class="d-flex justify-content-between">
                          <div>
                            <p class="small d-block">Starting at <b><i class="fa fa-indian-rupee-sign"></i>{{ venue.price|floatformat:2 }}</b>  <span>for</span> <br><span><b>{{ venue.capacity }}</b> guests.</span></p>
                          </div>
                          <a href="" class="bTn">Price Venue</a>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  {% endfor %}
                </div>
                
              </div>
            </section>
            

              </div>
            </div>
            </section>
            
        </div>
      </div>


</body>
{% endblock %}