{% extends 'acc/base.html'%}
{% load static %}
{% block content %}
<body>



{% if venueinfo_exists %}
{% for v in venue %}
<a href="{% url 'viewvenue_info' v.id%}"><button class="bTn d-inline-flex align-items-center" type="submit">
  {{v.name}}
  </button></a>
  {%endfor%}
  {% else %}
  <p>not</p>
  {% endif %}

  <!-- {% if venueamenities_exist %}
  {% for v in venue %}
<a href="#"><button class="bTn d-inline-flex align-items-center" type="submit">
  {{v.name}}
  </button></a>
  {%endfor%}
  {% else %}
  <p>not</p>
  {%endif%} -->

  

</body>
{%endblock%}