{% extends 'acc/base.html'%}
{% load static %}
{% block content %}

<body>
    
   


<div class="px-4">
  <section id="couple-details" class="border ">
    {% for event in events%}
    <div class="row my-2 p-2">
      <div class="col">
        <!-- {{event.id}} -->
          <h4>Event Informations</h4>
          <!-- <p class="h6 font-weight-bold">Room No: <span class="mr-pc">{{room_details.room_number}}</span></p> -->

              <div class="custom-control custom-checkbox">

                <label class="font-weight-bold text-dark">Event:
                  <span class="font-weight-light text-dark">{{event.name}}</span>
                </label><br>
                <label class="font-weight-bold text-dark">Venue:
                   <span class="font-weight-light text-dark">{{event.venue.name}}</span>
                </label><br>
                <label class="font-weight-bold text-dark">Date:
                   <span class="font-weight-light text-dark">{{event.date}}</span>
                </label><br>

                <label class="font-weight-bold text-dark">Description:
                  <span class="font-weight-light text-dark">
                    <p>{{event.description}}</p>
                  </span>
                </label>

            </div>
      </div>

      <div class="row gutters">
        <div class="col-xl-12">
            <div class="d-flex justify-content-end float-right gap-3 py-2 text-right">
              {% if event.is_booked %}
              {%else%}


                {% if event.booking_set.exists %}
                <p class="m-0 p-2">Cant update an event</p>


                {%else%}
                <a class="btn" href="{% url 'update_event' event.id%}">Update</a>
                {%endif%}
                {%endif%}

                {% if event.is_booked %}
                    <a class="btn text-success" href="{% url 'Info' event.id %}"><i class="fa-solid fa-check"></i>Booked</a> 
                    {% else %}
                        {% if event.booking_set.exists %}
                            <h5 class="text-success m-0 p-2"><i class="fa-solid fa-check"></i> Booked</h5>
                            <a class="btn border border-info" href="{% url 'Info' event.id %}">View and payment</a>

                        {% else %}
                            <a class="btn" href="{% url 'Info' event.id %}">Book</a>
                        {% endif %}
                    {% endif %}

            </div>
        </div>
    </div>
  </div><hr>

         

        {% endfor%}
  
</div>
</div>
</div>
</section>

<hr>

</body>


{% endblock %}



