{% extends 'acc/base.html'%}
{% load static %}
{% block content %}

<body>
    
   <div class=" text-center container-fluid" style="background-color:rgb(23, 51, 79); color: white;">
  
    <div class="card-header">
      Venues
    </div>

   </div>

	  
      
              <div class="venue py-3">
              <div class="row container">
                
      
                {% for event in events%}
      
                  <div class="col-lg-9 p-4 border">
                    
                    <div class="">
                      <div class="venue_image_container ">
                        <!-- <div class="venue-image"><img src="{{event.venue_image.url}}" alt="{{venue.venue_image.url}}"></div> -->
                      </div>
                      <div><p class="venue-btn d-flex fw-bold m-0 mt-2" >Event: {{event.name}}</p></div>
                      <!-- <div><p class="venue-btn d-flex fw-bold m-0 mt-2" >{{event}}</p></div> -->
                      <div><p class="venue-btn d-flex fw-bold m-0 mt-2" >Venue: {{event.venue.name}}</p></div>

                        <div class="venue_text text-center">

                          <p class="m-1 d-flex "><span class="fw-">Date:</span>&nbsp;{{event.date}}</p>
                          <p class="m-1 d-flex "><span class="fw-">Time:</span>&nbsp;{{event.time}}</p>
                          <strong>Event:</strong><span> {{event.venue.name}}</span><br>
                          <strong>Event:</strong><span> {{event.venue.venue_image.url}}</span><br>
                        
                        </div>
                    </div>
                  </div>
                  <a href="{% url 'update_event' event.id%}">Update event</a>

                    {% endfor %}
                  <a href="">Book here </a>

              </div>

            </div>



            <div class="container ">
        
              <div class="row  justify-content-center">
                  <div class="col-md-5">
                      <div class="card">
                        {% for event in events%}
                          <form action="{% url 'booking' event.id%}" method="POST" class="vendor-form">

                        {% endfor %}
                             
                            <h5>Book Venue</h5><hr>

      
                              {% csrf_token %}
                              <div class="form-group">
                                <label for="mintopay">Check in</label>
                                <input type="date" name="checkin" id="checkin" class="form-control" id="" required>
                             </div>

                             <div class="form-group ">
                              <label for="maxtopay">Check out</label>
                              <input type="date" name="checkout" id="checkout" class="form-control" id="" required>
                           </div>

                           <div class="row form-group">
                            <div class="col-md-12">
                              <input type="submit" value="Book" name="" id="">
                            </div>
                           </div>
                        </form>
                      </div>
                    </div>
                    </div>
                  </div>
<hr>
        <div class="px-4">
                  <section id="couple-details" class="border vendor-form">

                  {% for couple in couples%}

                  <div class=" d-flex justify-content-center">

                    <!-- <div class=" col-xl- col-lg-10 col-md-12 col-sm-12 col-12 "> -->
                    <div class=" ">
                    <!-- <div class="card h-100"> -->
                    <div class=" ">
                      
                        <div class="card-body">

                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                  <h4 class="mb-4">Couple Informations</h4>
                                    <p class="blockquote-footer mt-3">View Your Details <strong>{{couple.groomname |upper}} and {{couple.bridename |upper}}</strong></p>
                                    <hr class="border ">

                                </div>

                                <div class="col-xl-6">
                                    <div class="">
                                        <label class="py-1 sub-heading">Groom Name</label>
                                        <div class="card">
                                            <div class="py-2 mx-3 ">
                                              <span>{{ couple.groomname}}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="">
                                        <label class="py-1 sub-heading">Bride Name</label>
                                        <div class="card">
                                            <div class="py-2 mx-3 ">
                                              <span>{{ couple.bridename}}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="">
                                        <label class="py-1 sub-heading">Groom DOB</label>
                                        <div class="card">
                                            <div class="py-2 mx-3 ">
                                              <span>{{ couple.groom_dob}}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="">
                                        <label class="py-1 sub-heading">Groom DOB</label>
                                        <div class="card">
                                            <div class="py-2 mx-3 ">
                                              <span>{{ couple.bride_dob}}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="">
                                        <label class="py-1 sub-heading">Contact number</label>
                                        <div class="card">
                                            <div class="py-2 mx-3 ">
                                              <span>{{ couple.phone_number}}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="">
                                        <label class="py-1 sub-heading">Wedding Date</label>
                                        <div class="card">
                                            <div class="py-2 mx-3 ">
                                              <span>{{ couple.Wedding_date}}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row gutters">
                                <div class="col-xl-12">
                                    <div class=" py-2 text-right">
                                        <a class="btn btn-outline-info" href="{% url 'home'%}">Cancle</a>
                                        <a class="btn btn-primary" href="{% url 'coupleupdate' couple.id %}">Update</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>

                  </div>       
                  {% endfor %}
                  </section>
          </div>

<hr>

<!-- ---------------------------------------------------------- -->
<div class="px-4">
  <section id="couple-details" class="border vendor-form">

    {% for event in events%}


    <div class="container pt-3 ">
      <h4 class="mb-4">Venue Informations</h4>
      <div class="my-1">
         <div class="row">
            <div class="col-8 ">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      </ol>
                        <div class="carousel-inner">

                            <div class="carousel-item active p-2">
                                <img style="height: 300px;" src="{{event.venue.venue_image.url}}" class="d-block w-100"
                                    alt="{{event.venue.venue_image.url}}">
                            </div>
                          
                        </div>
                        <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </button>
                  </div>
            </div>
            <div class="col-4 border p-2">
                <h5>Venue Details</h5>
                  <div class="ml-5">
                      <p>
                          name: <span>{{event.venue.name}}</span>
                      </p>
                      <p>
                          <span>Hall count:</span> <span>{{event.venue.hall_counts}}</span><br>
                          <span> capacity:</span> <span>{{event.venue.capacity}}</span>
                      </p>
                      
                      <p>
                          <span>address: </span> <span>{{event.venue.address}}</span>
                          <span>city:</i></span>{{event.venue.city}}<span>
                          <span>state:</i></span>{{event.venue.state}}<span>
                      </p>

                    
                  </div>
                <h4>Price: <span class="mr-pc">{{event.venue.booking_cost}}</span> /per day</h4>
            </div>


          </div>
        <div>


      <div>
  {% endfor %}
  </section>
</div>

<hr>


<div class="px-4">
  <section id="couple-details" class="border vendor-form">
    {% for event in events%}
    <div class="row my-2 p-4">
      <div class="col">
          <h4>Event Informations</h4>
          <!-- <p class="h6 font-weight-bold">Room No: <span class="mr-pc">{{room_details.room_number}}</span></p> -->

              <div class="custom-control custom-checkbox">

                <label class="font-weight-bold text-dark">Venue:
                   <span class="font-weight-light text-dark">{{event.venue.name}}</span>
                </label><br>
                <label class="font-weight-bold text-dark">Event:
                  <span class="font-weight-light text-dark">{{event.name}}</span>
               </label><br>
               <label class="font-weight-bold text-dark">Description:
                <span class="font-weight-light text-dark">
                  <p>{{event.description}}</p>
                </span>
                
             </label>
            </div>
      </div>
  </div><hr>
  <div class="row gutters py-3">
    <div class="col-xl-12">
      <!-- <p class="text-center text-dark font-weight-bold">Check Your Information Carefully and to book -></p> -->
        <div class=" py-2 text-center">

            <span class="text-center text-dark font-weight-bold">Check Your Information Carefully and to book <i class="fa-solid fa-arrow-right"></i>&nbsp;</span>
            {% for event in events%}
            <a class="Btn p-3 book-btn" data-event-id="{{ event.id }}">Book Here</a>

            {% endfor %}
        </div>
    </div>
</div>
  
</div>
</div>
{% endfor%}
</div>
</section>

<hr>
</div>

<div class="px-4">
  <section id="couple-details" class="border vendor-form ">
    <div class="my-2 p-4">
      <h4>Book On Your Date</h4>
                    {% for event in events%}

                    <form  action="{% url 'booking' event.id %}" method="POST">
                    {% endfor %}
                      
                        {% csrf_token %}
                        
                      <div class="form-group">
                          <label class="text-dark font-weight-bold" for="mintopay">Check in</label>
                          <input type="date" name="checkin" id="checkin" class="form-control border-dark" id="" required>
                      </div>

                      <div class="form-group ">
                        <label class="text-dark font-weight-bold" for="maxtopay">Check out</label>
                        <input type="date" name="checkout" id="checkout" class="form-control border-dark" id="" required>
                      </div>

                      <div class="row form-group">
                        <div class="col-md-12">
                          <input class="Btn" type="submit" value="Book" name="" id="">
                        </div>
                      </div>
                  
                    </form>

</div>

</section>

</div>

</body>


{% endblock %}



<!-- <div class="row my-2 p-4">
      
  <div class="col-6">
      <h4>Availability</h4>
      <div>
          <div class="row">
              <div class="col input-group mb-3">
                  <div class="input-group-prepend ">
                      <span class="input-group-text border-info" id="inputGroup-sizing-default">Check
                          In</span>
                  </div>
                  <input id="checkIn" type="date" class="form-control border-info" aria-label="Default"
                      aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="col input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text border-info" id="inputGroup-sizing-default">Check
                          Out</span>
                  </div>
                  <input id="checkOut" type="date" class="form-control border-info" aria-label="Default"
                      aria-describedby="inputGroup-sizing-default">
              </div>
          </div>
          <button id="checkButton" type="button" class="btn btn-info px-5">Is Available</button>
      </div>
  </div>
</div>
<div class="row my-2 p-4">
      <div class="col-12">

          <label class="h4 mr-pc" for="">Total Cost ($): </label>
          <input class="h4 font-weight-bold border-0" id="totalCost" type="number" readonly
              value="{{room_details.booking_price}}" />
      </div>
      <div class="col mt-5">
          <button id="add-to-list" type="button" class="btn mr-bgpc text-white px-5">Add to
              List</button>
          <button type="button" class="btn mr-bgpc text-white px-5">Book Now</button>

      </div>
  </div> -->