{% extends 'acc/base.html'%}
{% load static %}
{% block content %}

<body>
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <form class="d-flex flex-column align-items-center" method="get" action="{% url 'search' %}">
                    <label for="search_input" class="m-3">Search by Location </label>
                    <div class="input-group">
                        <input class="form-control " type="text" id="search_input" name="query" placeholder="Search Venues by Location" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search &nbsp;<i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
<div class="card text-center">
    <div class="card-header">
      Venues
    </div>
    {% for venue in venues%}
    <div class="card-body p-0">
      <a href="{% url 'showvenue' venue.id%}"><h5>{{venue}}</h5></a>
    </div>
    {% endfor %}
    
  </div>

</body>
{% endblock %}