{% extends 'acc/base.html'%}
{% load static %}
{% block content %}

<body>
  
  <div class="container text-center" style="display: flex; justify-content: center; flex-direction: row;">

    <div class="col-lg-12  mb-"><hr>
      <h5> <u>Search venue here</u></h5>
        <form action="" id="search_form" method="get">
            <div class="row">
              <p id="search_error"></p>
                <div class="col-md-4 m-0">
                    <div class="form-group text-center">
                        <label for="exampleFormControlSelect1">Sort by</label>
                        <select name="sort_by" class="form-control" id="">
                            <option value="">Amount</option>
                            <option {% if sort_by == 'Asc' %} selected {% endif %} value="Asc">Asc</option>
                            <option {% if sort_by == 'Dsc' %} selected {% endif %} value="Dsc">Dsc</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4 m-0">
                    <div class="form-group text-center">
                        <label for="search_input" class="">Search by Location</label>
                        <input class="form-control" id="search_input" type="text" name="search" value="{% if search%} {{search}} {% endif %}" placeholder="Search Venues by Location, cost" aria-label="Search">
                    </div>
                </div>

                <div class="col-md-4 m-0">
                    <div class="form-group text-center">
                        <label for="exampleFormControlSelect1">Amenities</label>
                        <select name="amenities" class="form-control" id="" multiple>
                            <option value="">Choose</option>
                            {% for eme in amenitie %}
                            <option {% if eme.amenity_name in Amenities %} selected {% endif %} value="{{ eme.amenity_name }}">{{ eme.amenity_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-3 d-flex justify-content-center">
                    <button type="submit" class="Btn">Search</button>
                </div>
            </div>
        </form>
       
    </div>
</div><hr>


  
  
  
    <div class="card-header m-0">
      <p class="m-0">search by date</p>
      <form method="post" class="d-flex align-items-center">
          {% csrf_token %}
  
          <div class="input-group" style="width: 500px;">
              <input class="form-control" type="date" name="date" value="{{ dates }}" required id="id_date">
          </div>
          <div class="ms-2">
              <button class="Btn" style="width: 100px; margin-right: 50px;" type="submit">Check</button>
          </div>
      </form>
      {% if date %}
      <input class="form-control"  value="You searched on {{ date }}"  style="width: 500px;">
      {%else%}

      {%endif%}
 
  </div><br>
  <div class=" text-center container-fluid" style="background-color:rgb(23, 51, 79); color: white; padding: 5px;">
   <h5>Venues</h5>
      </div>

      {% if no_venues_message %}
      <!-- <h4 >{{ no_venues_message }}</h4> -->
      <div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end text-center mt-3" style="color: rgb(23, 51, 79);">
        <h5>{{ no_venues_message }}</h5>
        
      </div>
  {% endif %}
	    <div class="venue py-3">
        <div class="row container">
          
            {% for venue in venues%}
            <div class="col-lg-3 p-2  card">
              
              <div class="">
                <div class="venue_image_container">
                  <div class="venue-image"><a href="{% url 'showvenue' venue.id%}"><img src="{{venue.photo.url}}" alt="{{venue.photo.url}}"></a></div>
                </div>
                <div><p class="venue-btn d-flex fw-bold m-0 mt-2 justify-content-center" >{{venue.name}}</p></div>
                  <div class="venue_text text-center">
                    <p class="m-1 d-flex small text-secondary justify-content-center"> <span><i class="fa-solid fa-location-dot"></i>&nbsp;</span>{{venue.city}}</p>
                    <div class="d-flex  justify-content-around">
                    <p class="m-1  small text-secondary">Guests</p>
                    <!-- <p class="ml-1    fw-bold">{{venue.capacity}}<i class=" mt-1 ml-1 fa-solid fa-user-group"></i></span></p> -->
                    <p class="m-1  text-secondary "><span class="small">Rental Cost</p>
                    <!-- <p class="ml-1   fw-bold"><span><i class="fa-solid fa-indian-rupee-sign"></i></span>{{venue.price}}</p> -->
                  </div>
                    

                  <div class="d-flex  justify-content-around">
                    <p class="ml-1    fw-bold">{{venue.capacity}}<i class=" mt-1 ml-1 fa-solid fa-user-group"></i></span></p>
                    <p class="ml-1   fw-bold"><span><i class="fa-solid fa-indian-rupee-sign"></i></span>{{venue.price}}</p>
                  </div>
                    <!-- <p class="m-1 d-flex text-secondary "><span class="small">Rental Cost</p> -->
                      <!-- <p class="ml-1 d-flex   fw-bold"><span><i class="fa-solid fa-indian-rupee-sign"></i></span>{{venue.price}}</p> -->
                    {% for s in service %}
                    {% if s.venue == venue %}
                        {% for category in s.category.all %}
                            <p>{{ category.name }}</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}



                    <!-- <p class="m-1 d-flex justify-content-start"><span class="fw-">Total Area:</span>&nbsp;{{venue.capacity}} <span><cite title="Source Title">&nbsp;/members per hall</cite></span></p> -->
                    <!-- <p class="m-1  "><span class="fw-">Emenities:</span> 
                      {% for eme in venue.amenities.all %}

                        <b style="display: inline-block;padding: 0; margin-right: 5px;">{{eme.amenity_name|truncatewords_html:2 }},</b>
                      {% endfor %}
                    </p> -->
                  </div>
                  
                  <div class="venue-name">
                    <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>Should login to view this</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <a href="{% url 'login'%}" class="btn">Login</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                     <div class="d-flex text-center" >
                      {% if user.is_authenticated %}
                      <a  href="#">Book Here</a>
                      {%else%}
                      <a data-bs-target="#exampleModal" data-bs-toggle="modal" class="" href="#">Request Venue</a>&nbsp;&nbsp;&nbsp;&nbsp;
                      {% endif %}
                        <!-- <a  href="{% url 'showvenue' venue.id%}">View Details</a> -->
                    </div>
                  </div>
              </div>
            </div>
              {% endfor %}
        </div>
      </div>

</body>
{% endblock %}