{% extends 'acc/base.html'%}
{% load static %}
{% block content %}

<div class=" container card py-2">
    
    <h1 class="text-center fw-bold">Venue</h1>
</div>

<div class="container">
    <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="account-settings">
                <div class="user-profile">
                    <div class="user-avatar">
                        <img src="{{ venue_info.photo.url }}" alt="{{ venue_info.photo.url }}">
                    </div>
                    <h5 class="user-name">{{venue_info.name}}</h5>
                    <h6 class="user-email">{{ venue_info.user }}</h6>
                </div>
                <div class="about">
                    <h5 class="sub-heading">About</h5>
                    <!-- <p>{{ vender.vender_about}}</p> -->
                    <div id="about-content">
                        <p id="truncated-content">{{ venue_info.description|truncatewords:20 }}
                             <a id="toggle-button" href="#">read more</a>
                        </p>
                        <p id="full-content" style="display: none;">{{ venue_info.description }}</p>
                        <a id="toggle-button-less" href="#" style="display: none;">read less</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row gutters">
               
            
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-between">
                    <h6 class="mb-2 fw-bold py-2 border-bottom sub-heading">Venue Details</h6>
                    <h6 class="mb-2 fw-bold py-2 border-bottom sub-heading"> <span class="small">GST number&nbsp;:</span>&nbsp;{{ venue_info.gst_number}} </h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Venue Name:</label>
    
                        <div class="card">
                            <div class="py-2 mx-3">
                                {{ venue_info.name}} 
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">User Email:</label>

                        <div class="card">
                            <div class="py-2 mx-3">
                                {{ venue_info.user}} 
                            </div>
                        </div>

                    </div>
                </div>
               
                

            <div class="row gutters">
                <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mt-3 mb-2 text-primary">Address</h6>
                </div> -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Address:</label>

                        <div class="card">
                            <div class="py-2 mx-3">
                                {{ venue_info.address_line_1}} 
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">Street:</label>

                        <div class="card">
                            <div class="py-2 mx-3">
                                {{ venue_info.address_line_2}} 
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading">City:</label>

                        <div class="card">
                            <div class="py-2 mx-3">
                                {{ venue_info.city}} 
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading" >State:</label>

                        <div class="card">
                            <div class="py-2 mx-3">
                                {{ venue_info.state}} 
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading" >Pincode:</label>

                        <div class="card">
                            <div class="py-2 mx-3">
                                {{ venue_info.pincode}} 
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading" >Guests:</label>

                        <div class="card">
                            <div class="py-2 mx-3">
                                {{ venue_info.capacity}} 
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading" >Terms and Conditions:</label>

                        <div class="card">
                            <div class="py-2 mx-3">
                                {{ venue_info.note}} 
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="">
                        <label class="py-1 sub-heading" >Price per day:</label>

                        <div class="card">
                            <div class="py-2 mx-3">
                                {{ venue_info.price}} 
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row gutters">
            <div class="col-xl-12">
                <div class=" py-2 text-right">
                    <!-- <a class="bTn" href="#">Go back</a> -->
                    <a class="bTn" href="{% url 'updatevenue_info' venue_info.id%}">Update</a>
                </div>
            </div>
        </div><hr>


       
    </div>
    </div>
    </div>
    <div class="container">

        


   
  


</div>

   
{% endblock %}
