{% extends 'acc/base.html'%}

{% load crispy_forms_tags %}

{% block content %}

<body>

    <div class="container  form-layout"  style="max-width: 700px;">
        
        <h2>Login</h2>

        <hr>

        <form action="" method="POST" autocomplete="off" class="custom-form">

            {% csrf_token %} <!--   'Cross-Site Request Forgery' tokens help protect against CSRF attacks by making it difficult for an attacker to construct a valid request on behalf of the victim. -->
       
            {{form|crispy}}

            <br>

            <button type="submit" class="btn btn colour p-2">Login here! </button>
            <p>Don't have Account?<a href="#"> Register</a> </p> 
        </form>
       

        <br>

       <br>
    </div><br>
</body>    

{% endblock %}