
{% extends 'acc/base.html'%}

{% load crispy_forms_tags %}

{% block content %}


<!-- <body>

    <div class="container  form-layout"  style="max-width: 700px;">
        
        <h2>Login</h2>

        <hr>

        <form action="" method="POST" autocomplete="off" class="custom-form">

            {% csrf_token %}   'Cross-Site Request Forgery' tokens help protect against CSRF attacks by making it difficult for an attacker to construct a valid request on behalf of the victim.
       
            {{form|crispy}}

{% for i in form.errors %}
{{i}}
{% endfor %}
{% if form.errors %}
error!
{% endif %}
            <br>

            <button type="submit" class="btn btn colour p-2">Login here! </button>
            <p>Don't have Account?<a href="#"> Register</a> </p> 
        </form>
       

        <br>

       <br>
    </div><br>
</body>     -->

<body>
<div class="login-error">
    {%for error in form.errors %}
    <div class="error">Enter Correct Username And Password!</div>
    {% endfor %}
</div>
    <div class="form-container">
    <div class="wrapper">
        <div class="form-box">
            
            <h2>Login</h2>
            <form action="" method="post">
                {% csrf_token %} 
                <div class="input-box">
                    <span  class="icon"><i class="fa-solid fa-envelope"></i></span>
                    {{form.username}}
                    <label for="">Email</label>
                </div>
                <div class="input-box">
                    <span  class="icon"><i class="fa-solid fa-lock"></i></span>
                    {{form.password}}
                    <label for="">Password</label>
                </div>
                <div class="remember-password">
                    <a href="{% url 'reset_password' %}">Forgot Password?</a>
                </div>
                {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
                <button type="submit" class="Btn">
                    Login
                </button>
                <div class="login-register">
                    <p>Don't haave an account?<a href="{% url 'registrationchoice'%}" class="register-link">Register</a>
                    </p>
                </div>
            </form>
           
        </div>
    </div>
</div>

<!-- <div class="display-error">
    {% if messages %}
        {% for message in messages %}
            <div class="error">{{ message }}</div>
        {% endfor %}
    {% endif %}
</div> -->
</body>

{% endblock %}