{% load static %}

<body>
  
<!-- Use any element to open the sidenav -->


<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">

<!-- navbar  -->

  <div class="nav-links navbar">

    <div class="logo"><a href="{% url 'home'%}">@wedding Cluster</a></div>
      
      {% if user.is_authenticated %}

      <div class="dropdown">

            <button class="dropbtn">
              <span class="sBtn">Settings</span> 
            <i class="fa-solid fa-circle-chevron-down"  id="dropdownIcon"></i>
            </button>

            <div class="dropdowncontent"> 
              <a class="option" href="{% url 'user_profile' user.id %}">Profile</a>
              <a class="option" href="{% url 'changepassword'%}">Change Password</a>
              <a class="option" href="{% url 'logout' %}">Logout</a>
            </div>


            {%else%}

            <div class="dropdown">
              <button class="dropbtn">
                <span class="sBtn">Settings</span> 
                <i class="fa-solid fa-circle-chevron-down"  id="dropdownIcon"></i>
              </button>
                
              <div class="dropdowncontent"> 
                <a class="option" href="{% url 'registrationchoice' %}">Register</a>
                <a class="option" href="{% url 'login' %}">Login</a>
              </div>
              
            </div>
            
             {% endif %}

            
      </div>
    </div>

  
  <!-- menu bar  -->

    <div id="mySidenav" class="sidenav">
      <div class="sidenav-links">

      {% if user.is_authenticated %}
      {% if request.user.is_vendor %}
         <!-- Display content for vendors -->

        <a href="{% url 'vender_register' %}">Vender Registration</a>
       {% else %}
        <!-- Display content for common users -->
        <a href="{% url 'CouplesRegistration' %}">Couples Registration</a>
        <a href="{% url 'services' %}">Services</a>
        <a href="{% url 'catering' %}">Cater</a>
        <a href="{% url 'decor' %}">Decor</a>
        <a href="{% url 'planning' %}">Wedding Planning</a>
        <a href="{% url 'planning' %}">Photos & Videos</a>
        <a href="{% url 'mehndimakeup' %}">Mehndi & Makeup</a>
        <a href="{% url 'artistmanagement'%}">Artist Management</a>
        <a href="{% url 'transportlogistics' %}">Transport & Logistics</a>
        <a href="{% url 'bandbaja' %}">Band Baja</a>
        <a href="#">Contact</a>
        {% endif %}

        {% else %}
          <!-- Display content for unauthenticated users -->
        <a href="{% url 'vender_register' %}">Vender Registration</a>
          <a href="{% url 'CouplesRegistration' %}">Couples Registration</a>
          <a href="{% url 'services' %}">Services</a>
          <a href="{% url 'catering' %}">Cater</a>
          <a href="{% url 'decor' %}">Decor</a>
          <a href="{% url 'planning' %}">Wedding Planning</a>
          <a href="{% url 'planning' %}">Photos & Videos</a>
          <a href="{% url 'mehndimakeup' %}">Mehndi & Makeup</a>
          <a href="{% url 'artistmanagement'%}">Artist Management</a>
          <a href="{% url 'transportlogistics' %}">Transport & Logistics</a>
          <a href="{% url 'bandbaja' %}">Band Baja</a>
          <a href="#">Contact</a>

          {% endif %}

      </div>
    </div>
</div>
 
</body>



 <!-- {% if registered_vendor %} -->
    <!-- {%else%} -->

     <!-- {% endif %} -->

 <!-- <div class="nav-links navbar">
   
    <div class="logo"><a href="{% url 'home'%}">@wedding Cluster</a></div>
    {% if user.is_authenticated %}
    {% if registered_vendor %}
    <ul>
  {%else%}
      <li class="links"><a href="{% url 'vender_register' %}">Vender Registration</a></li>
    </ul>
    {%endif%}
  <ul>

    <li  class="links"><a href=#>{{user.email}}</a></li>
    <li  class="links"><a href="{% url 'user_profile' user.id %}">Profile</a></li>
    <li class="links"><a href="{% url 'logout' %}">Logout</a></li>

  </ul>
  {%else%}
  <ul>
    <li  class="links"><a href="{% url 'register' %}">Register</a></li>
    <li  class="links"><a href="{% url 'login' %}">Login</a></li>
  </ul>
  {% endif %}
</div> -->
<!-- <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

Use any element to open the sidenav -->
<!-- <span onclick="openNav()">open</span> -->

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<!-- <div id="main">
  ...
</div>
</body>  -->
