{% extends 'acc/base.html'%}

{% load crispy_forms_tags %}

{% block content %}

<body >
    
<div class="px-5">
<div class="container  border">
    <h2 class="mt-4">Register here as :</h2>

    <div class="text-center">
 
        <div class="radio">
            <form method="post">
                {% csrf_token %}
                <div class="d-flex justify-content-center mt-3 asvendor" >

                    <p>User and plan your perfect wedding: find vendors, manage your budget, and stay organized.
                         <span class="icon"><i class="fa-solid fa-person-walking-arrow-right"></i></span>
                    </p>
                    
                    <div class="input-group-text px-5 dis">
                        <label>
                            <input class="form-check" type="radio" name="registration_option" value="register_user"> <h4>Register as a User. &nbsp;&nbsp;&nbsp;&nbsp;</h4>
                        </label>
                    </div>
                </div>

                <div class="d-flex justify-content-center  mt-3 asvendor">
                    
                    <p>Looking to offer wedding services? Showcase your wedding services and connect with couples directly.
                        <span class="icon"><i class="fa-solid fa-person-walking-arrow-right"></i></span>
                    </p>

                    <div class="input-group-text px-5 dis">
                        <label>
                            <input class="form-check" type="radio" name="registration_option" value="register_vendor"><h4> Register as a Vendor.</h4>
                        </label>
                    </div>
                </div>
                <!-- <label><input type="radio" name="registration_option" value="register_user"> Register as User</label><br>
                <label><input type="radio" name="registration_option" value="register_vendor"> Register as Vendor</label><br> -->
                <div >
                <button  class="Btn my-4 " style="display: block-inline; width: 100%;" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>

{% endblock %}