{%extends 'acc/base.html'%}

{%block content%}
<body>
	<div class="login-error">
		{%for error in form.errors %}
		<div class="error">Enter Correct Email</div>
		{% endfor %}
	</div>

	<div class="form-container ">
		<div class="wrapper">
			<div class="form-box">
				<form method="post" >
					{% csrf_token %}
					<h2 class="text-center mt-0">Reset Password</h2>
					<!-- {% for field in form %}
							{{ field.label_tag }} 
							{{ field }}
							{% if field.errors %}
								<small>{{ field.errors|striptags  }}</small> 
							{% endif %}
					{% endfor %} -->
					<!-- <div class="input-box"> -->

					<div class="form-floating mb-3">
						<span  class="icon">
							<i class="fa-solid fa-envelope"></i>
						</span>
						<label for="floatingInput">Email address</label>
							
						<input type="email"  name="email" class="form-control" autocomplete="email" id="floatingInput" placeholder="name@example.com" maxlength="254" required id="id_email">
					</div>	 

					<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						<input class="Btn  me-md-2" value="Send" type="submit">  &nbsp;
						<a href="{%url 'login' %}"  class="btn btn-outline-info">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
{% endblock %}