{% extends 'acc/base.html'%}

{% load static %}

{% block content%}

<!-- <body style="background-image: url('{% static 'images/homephoto.jpeg' %}'); background-repeat:no-repeat; background-size:100% "> -->
<body>
  <div class="">
    <header class="d-flex justify-content-center" style="background-color: rgb(23, 51, 79)">
      <ul class="nav nav-pills">

        <li class="nav-item">
            <a href="{% url 'addvenue_info'%}" class="nav-link text-light m-0"> ADD VENUE INFORMATIONS</a>
        </li>
        
        <li class="nav-item">
            {% for v in venue %}
            <a href="{% url 'contact_info' v.id%}" class="nav-link text-light m-0"> CONTACT INFORMATIONS </a>
            {%endfor%}
        </li>
        
        <li class="nav-item">
            {% for v in venue %}
            <a href="{% url 'category' v.id%}" class="nav-link text-light m-0"> ADDITIONAL INFORMATIONS </a>
            {%endfor%}
        </li>
        
        
        <li class="nav-item">
            {% for v in venue %}
            <a href="{% url 'add_amenity' v.id%}" class="nav-link text-light m-0">ADD AMENITIES</a>
            {%endfor%}
        </li>
        
        <li class="nav-item">
            {% for v in venue %}
            <a href="{% url 'add_restrictions' v.id%}" class="nav-link text-light m-0">ADD RESTRICTIONS </a>
            {%endfor%}
        </li>
        
        <li class="nav-item">
            {% for v in venue %}
            <a href="{% url 'add_images' v.id%}" class="nav-link text-light m-0 ">ADD IMAGES</a>
            {%endfor%}
          </li>

        <!-- <li class="nav-item dropdown" style="list-style-type:none;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Update Details
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
                <li class="nav-item dropdown">
                  {% if venueinfo_exists %}
                  {% for v in venue %}
                  <a class="dropdown-item " href="{% url 'viewvenue_info' v.id%}"> VIEW VENUE INFO</a>
                  {%endfor%}
                  {%endif%}</li>

                  <li>
                  {% for v in venue %}
                  <a class="dropdown-item " href="{% url 'viewAmenities' v.id%}">UPDATE AMENITIES</a>
                  {%endfor%}</li>
  
                  <li>
                  {% for v in venue %}
                  <a class="dropdown-item " href="{% url 'viewrestrictions' v.id%}">UPDATE RESTRICTIONS</a>
                  {%endfor%}</li>
                  
                  <li>
                  {% for v in venue %}
                  <a class="dropdown-item " href="{% url 'view_image' v.id%}">UPDATE IMAGES</a>
                  {%endfor%}</li>
  
                  <li>
                  {% for v in venue %}
                  <a class="dropdown-item " href="{% url 'updatecontact_info' v.id%}">UPDATE  CONTACT INFO</a>
                  {%endfor%}</li>
                  <li>
                  {% for v in venue %}
                  <a class="dropdown-item " href="{% url 'update_category' v.id%}">
                     UPDATE ADDITIONAL INFO
                  </a>
                  {%endfor%}</li>
             
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'user_venues' %}">View Venue</a></li>
          </ul>
      </li> -->
      </ul>
      
    </header>
    <div class="border-bottom border-light"></div>

    <li class="nav-item dropdown" style="list-style-type:none; float: right; background-color: rgb(23, 51, 79);">
      <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Update Details
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item dropdown">

              {% for v in venue %}
              <a class="dropdown-item " href="{% url 'viewvenue_info' v.id%}"> VIEW VENUE INFO</a>
              {%endfor%}
            </li>

              <li>
              {% for v in venue %}
              <a class="dropdown-item " href="{% url 'viewAmenities' v.id%}">UPDATE AMENITIES</a>
              {%endfor%}</li>

              <li>
              {% for v in venue %}
              <a class="dropdown-item " href="{% url 'viewrestrictions' v.id%}">UPDATE RESTRICTIONS</a>
              {%endfor%}</li>
              
              <li>
              {% for v in venue %}
              <a class="dropdown-item " href="{% url 'view_image' v.id%}">UPDATE IMAGES</a>
              {%endfor%}</li>

              <li>
              {% for v in venue %}
              <a class="dropdown-item " href="{% url 'updatecontact_info' v.id%}">UPDATE  CONTACT INFO</a>
              {%endfor%}</li>
              <li>
              {% for v in venue %}
              <a class="dropdown-item " href="{% url 'update_category' v.id%}">
                 UPDATE ADDITIONAL INFO
              </a>
              {%endfor%}</li>
         
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'user_venues' %}">View Venue</a></li>
      </ul>
  </li>
  </div>


    <!-- <div class="venderpage">
        <div class="container">
        {% for v in vendor%}
            <a class="title txt" href="{% url 'vendorservice' v.id%}">MY SERVICES</a>
            {% endfor %}
        </div>
    </div> -->

    <div class="home">
      
<!-- slide  -->
        <div class="slider">
            <img class="slide" src="{% static 'images/venue1home.jpeg'%}"  alt="home1back">
            <img class="slide" src="{% static 'images/home2back.jpeg'%}"   alt="home2back">
            <img class="slide" src="{% static 'images/home3back.jpeg'%}"  alt="home3back">
            

            <div class="slider-button">

                <button onclick="goPrev()"><i class="fa-solid fa-arrow-left"></i></button>
                <button onclick="goNext()"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
  <!-- slider ends  -->
  
    </div>

      <!-- update information begins  -->

        <section>
          <!-- <div class="horizintal-bar">
              <div class="container">
                  <div class="d-flex gap-2 justify-content-center py-1">
                      {% if venueinfo_exists%}
                      <p>yes venue_info exist</p>
                      {%else%}
                     <a href="{% url 'addvenue_info'%}"><button class=" d-inline-flex align-items-center" type="submit">
  
                        </button> ADD VENUE INFORMATIONS</a>
                        {%endif%}
  
                      {% for v in venue %}
                      <a href="{% url 'add_amenity' v.id%}">ADD AMENITIES</a>
                      {%endfor%}
  
  
                      {% for v in venue %}
                      <a href="{% url 'add_restrictions' v.id%}"><button class=" d-inline-flex align-items-center" type="button">
                          ADD RESTRICTIONS 
                      {%endfor%}
                      </button></a>
  
                      {% for v in venue %}
                            <a href="{% url 'add_images' v.id%}"><button class=" d-inline-flex align-items-center" type="button">
                          ADD IMAGES
                      {%endfor%}
                        </button></a>
                      {% if contact_exist%}
                      <p>contact exist</p>
                      {% else %}
                        {% for v in venue %}
                        <a href="{% url 'contact_info' v.id%}"><button class=" d-inline-flex align-items-center" type="submit">
                          CONTACT INFORMATIONS 
                          {%endfor%}
                          {%endif%}
                        </button></a>
  
                      {% for v in venue %}
                      <a href="{% url 'category' v.id%}"><button class=" d-inline-flex align-items-center" type="button">
                          Additionals
                          {%endfor%}
  
                        </button></a>
                        
                    </div>
              </div>
          </div> -->
  
          <!-- <div class="horizintal-bar mt-3">
              <div class="container">
                  <div class="d-flex gap-2 justify-content-center py-1" style="background-color:  rgb(23, 51, 79); color: white;">

                  {% if venueinfo_exists %}
                  {% for v in venue %}
                  <a class="nav-link text-light m-0" href="{% url 'viewvenue_info' v.id%}"> VIEW VENUE INFO</a>
                  {%endfor%}
                  {%endif%}

  
                  {% for v in venue %}
                  <a class="nav-link text-light m-0" href="{% url 'viewAmenities' v.id%}">UPDATE AMENITIES</a>
                  {%endfor%}
  
  
                  {% for v in venue %}
                  <a class="nav-link text-light m-0" href="{% url 'viewrestrictions' v.id%}">UPDATE RESTRICTIONS</a>
                  {%endfor%}
                  
  
                  {% for v in venue %}
                  <a class="nav-link text-light m-0" href="{% url 'view_image' v.id%}">UPDATE IMAGES</a>
                  {%endfor%}
  
  
                  {% for v in venue %}
                  <a class="nav-link text-light m-0" href="{% url 'updatecontact_info' v.id%}">UPDATE  CONTACT INFO</a>
                  {%endfor%}
  
                  {% for v in venue %}
                  <a class="nav-link text-light m-0" href="{% url 'update_category' v.id%}">
                     UPDATE ADDITIONAL INFO
                  </a>
                  {%endfor%}
                  
                    </div>
              </div>
          </div> -->
      </section>

<div class="home">
  
<!-- length image  -->
<div class="lengthimg">
    <img src="{% static 'images/vendorpage.jpeg'%}" class="img-fluid" alt="length-home-image">
</div> <hr>


<div class="container">

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-bg-dark border rounded-3">
            <h2>Add Venue</h2>
            <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
            <button class="btn btn-outline-light" type="button">Example button</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Add borders</h2>
            <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
            <button class="btn btn-outline-secondary" type="button">Example button</button>
          </div>
        </div>
      </div>
    </div>
    </div>


<!-- contact us form ------------------------------- -->


<div class="container contact">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">vidyagiri, Np12</div>
          <div class="text-two">Dharwad</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">8867050481</div>
          <div class="text-two">+0096 3434 5678</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">weddingcluster@gmail.com</div>
          <div class="text-two">guheshpanjagall481@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>If you have any any types of quries related to Wedding cluster, you can send me message from here. It's my pleasure to help you.</p>

          <form action="{% url 'contactview' %}" method="post">
              {% csrf_token %}
          <div class="input-box">
              
              <input type="email" name="user_email" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
              <input type="text" name="subject" placeholder="Enter your subject" required>
          </div>
          <div class="input-box message-box">
              <textarea  name="message" placeholder="Enter message" required></textarea>
              
          </div>
          <div class="button">
              <input type="submit" value="Send Now" >
          </div>
          </form>

    </div>
    </div>
  </div>
    <!-- <img class="img-info" src="{% static 'images/wedds.jpeg'%}" alt="" -->


    <!-----------footer begins--------- -->
<br><hr><br>
<footer>
    <div class="foot-panal1">
        <a href="{% url 'home'%}">Back to top</a>
    </div>

    <div class="foot-panal2 py-3">
        <ul>
            <p>Know about us </p>
            <a>About Us</a>
            <a>Venue</a>
            <a>Vendors</a>
            <a>Events</a>
        </ul>
    </div>

<div class="foot-panal3">
    <div class="">@weddingcluster.com  | &nbsp;</div>
    <div class="foot-icon">
        <!-- <div class="border1" > -->
            <div class="add-icon1">
                <i class="fa-solid fa-earth-americas"></i>
                <span class="add-second1">English</span>
            </div>
        </div>
    </div>
</div>
<div class="foot-panal4">
  <div class="pages">
    <a href="">Weddingcluster.com</a>
    <a href="">services.com</a>
    <a href="">venueservices.com</a>
    <p>© 2023-2024, Weddingcluster.com </p>
  </div>
</div>
</footer>
</div>
</body>





{% endblock %}
